{{ define "user/fragments/follow" }}
  <button id="{{ normalizeForHtmlId .UserDid }}"
    class="btn w-full flex gap-2 items-center group"

    {{ if eq .FollowStatus.String "IsNotFollowing" }}
    hx-post="/follow?subject={{.UserDid}}"
    {{ else }}
    hx-delete="/follow?subject={{.UserDid}}"
    {{ end }}

    hx-trigger="click"
    hx-target="#{{ normalizeForHtmlId .UserDid }}"
    hx-swap="outerHTML"
    >
    {{ if eq .FollowStatus.String "IsNotFollowing" }}
      {{ i "user-round-plus" "w-4 h-4" }} follow
    {{ else }}
      {{ i "user-round-minus" "w-4 h-4" }} unfollow
    {{ end }}
    {{ i "loader-circle" "w-4 h-4 animate-spin hidden group-[.htmx-request]:inline" }}
  </button>
{{ end }}
