{{ define "repo/pulls/fragments/pullCompareBranches" }}
    <div id="patch-upload">
        <label for="targetBranch" class="dark:text-white"
            >select a branch</label
        >
        <div class="flex flex-wrap gap-2 items-center">
            <select
                name="sourceBranch"
                class="p-1 border border-gray-200 bg-white dark:bg-gray-700 dark:text-white dark:border-gray-600"
            >
                <option disabled selected>source branch</option>

                {{ $recent := index .Branches 0 }}
                {{ range .Branches }}
                    {{ $isRecent := eq .Reference.Name $recent.Reference.Name }}
                    <option
                        value="{{ .Reference.Name }}"
                        {{ if $isRecent }}
                            selected
                        {{ end }}
                        class="py-1"
                    >
                        {{ .Reference.Name }}
                        {{ if $isRecent }}(new){{ end }}
                    </option>
                {{ end }}
            </select>
        </div>
    </div>

    <p class="mt-4">
        Title and description are optional; if left out, they will be extracted
        from the first commit.
    </p>
{{ end }}
