{{ define "repo/pulls/fragments/pullStack" }}
  <div class="grid grid-cols-1 rounded border border-gray-200 dark:border-gray-700 divide-y divide-gray-200 dark:divide-gray-700">
    {{ range $pull := .Stack }}
      {{ $isCurrent := false }}
      {{ with $.Pull }}
        {{ $isCurrent = eq $pull.PullId $.Pull.PullId }}
      {{ end }}
      <a href="/{{ $.RepoInfo.FullName }}/pulls/{{ $pull.PullId }}" class="no-underline hover:no-underline hover:bg-gray-100 hover:dark:bg-gray-700">
        <div class="flex gap-2 items-center px-2 {{ if $isCurrent }}bg-gray-100 dark:bg-gray-700{{ end }}">
          {{ if $isCurrent }}
          {{ i "arrow-right" "w-4 h-4" }}
          {{ end }}
          <div class="{{ if not $isCurrent }} ml-6 {{ end }} w-full py-2">
            {{ block "summarizedHeader" $pull }} {{ end }}
          </div>
        </div>
      </a>
    {{ end }}
  </div>
{{ end }}

{{ define "summarizedHeader" }}
  <div class="flex text-sm items-center justify-between w-full">
    <div class="flex items-center gap-2">
      {{ block "summarizedPullState" . }} {{ end }}
      <span>
        <span class="text-gray-500 dark:text-gray-400">#{{ .PullId }}</span>
        {{ .Title }}
      </span>
    </div>

    <div>
      {{ $latestRound := .LastRoundNumber }}
      {{ $lastSubmission := index .Submissions $latestRound }}
      {{ $commentCount := len $lastSubmission.Comments }}
      <span>
        <div class="inline-flex items-center gap-2">
          {{ $commentCount }}
          comment{{if ne $commentCount 1}}s{{end}}
        </div>
      </span>
      <span class="mx-2 before:content-['·'] before:select-none"></span>
      <span>round <span class="font-mono">#{{ $latestRound }}</span></span>
    </div>
  </div>
{{ end }}

{{ define "summarizedPullState" }}
  {{ $fgColor := "text-gray-600 dark:text-gray-300" }}
  {{ $icon := "ban" }}

  {{ if .State.IsOpen }}
    {{ $fgColor = "text-green-600 dark:text-green-500" }}
    {{ $icon = "git-pull-request" }}
  {{ else if .State.IsMerged }}
    {{ $fgColor = "text-purple-600 dark:text-purple-500" }}
    {{ $icon = "git-merge" }}
  {{ end }}

  {{ $style := printf "w-4 h-4 %s" $fgColor }}

  {{ i $icon $style }}
{{ end }}
