{{ define "repo/pulls/fragments/pullStack" }}
  <p class="text-sm font-bold p-2 dark:text-white">STACK</p>
  {{ block "pullList" (list .Stack $) }} {{ end }}

  {{ if gt (len .AbandonedPulls) 0 }}
    <p class="text-sm font-bold p-2 dark:text-white">ABANDONED PULLS</p>
    {{ block "pullList" (list .AbandonedPulls $) }} {{ end }}
  {{ end }}
{{ end }}

{{ define "pullList" }}
  {{ $list := index . 0 }}
  {{ $root := index . 1 }}
  <div class="grid grid-cols-1 rounded border border-gray-200 dark:border-gray-700 divide-y divide-gray-200 dark:divide-gray-700">
    {{ range $pull := $list }}
      {{ $isCurrent := false }}
      {{ with $root.Pull }}
        {{ $isCurrent = eq $pull.PullId $root.Pull.PullId }}
      {{ end }}
      <a href="/{{ $root.RepoInfo.FullName }}/pulls/{{ $pull.PullId }}" class="no-underline hover:no-underline hover:bg-gray-100/25 hover:dark:bg-gray-700/25">
        <div class="flex gap-2 items-center px-2 {{ if $isCurrent }}bg-gray-100/50 dark:bg-gray-700/50{{ end }}">
          {{ if $isCurrent }}
            <div class="flex-shrink-0">
              {{ i "arrow-right" "w-4 h-4" }}
            </div>
          {{ end }}
          <div class="{{ if not $isCurrent }} pl-6 {{ end }} flex-grow min-w-0 w-full py-2">
            {{ template "repo/pulls/fragments/summarizedHeader" $pull }}
          </div>
        </div>
      </a>
    {{ end }}
  </div>
{{ end }}
