{{ define "title" }}
  comparing {{ .Base }} and {{ .Head }} on
  {{ .RepoInfo.FullName }}
{{ end }}

{{ define "repoContent" }}
  {{ template "repo/fragments/compareForm" . }}
  {{ $isPushAllowed := and .LoggedInUser .RepoInfo.Roles.IsPushAllowed }}
  {{ if $isPushAllowed }}
    {{ template "repo/fragments/compareAllowPull" . }}
  {{ end }}
{{ end }}

{{ define "topbarLayout" }}
  <header class="px-1 col-span-full" style="z-index: 20;">
    {{ template "layouts/topbar" . }}
  </header>
{{ end }}

{{ define "mainLayout" }}
  <div class="px-1 col-span-full flex flex-col gap-4">
    {{ block "contentLayout" . }}
      {{ block "content" . }}{{ end }}
    {{ end }}

    {{ block "contentAfterLayout" . }}
      <div class="flex-grow grid grid-cols-1 md:grid-cols-12 gap-4">
        <div class="flex flex-col gap-4 col-span-1 md:col-span-2">
          {{ block "contentAfterLeft" . }}{{ end }}
        </div>
        <main class="col-span-1 md:col-span-10">
          {{ block "contentAfter" . }}{{ end }}
        </main>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ define "footerLayout" }}
  <footer class="px-1 col-span-full mt-12">
    {{ template "layouts/footer" . }}
  </footer>
{{ end }}

{{ define "contentAfter" }}
  {{ template "repo/fragments/diff" (list .RepoInfo.FullName .Diff .DiffOpts) }}
{{ end }}

{{ define "contentAfterLeft" }}
  <div class="flex flex-col gap-4 col-span-1 md:col-span-2">
    {{ template "repo/fragments/diffOpts" .DiffOpts }}
  </div>
  <div class="sticky top-0 flex-grow max-h-screen">
    {{ template "repo/fragments/diffChangedFiles" .Diff }}
  </div>
{{ end }}
