{{ define "title" }}issues &middot; {{ .RepoInfo.FullName }}{{ end }}

{{ define "extrameta" }}
    {{ $title := "issues"}}
    {{ $url := printf "https://tangled.org/%s/issues" .RepoInfo.FullName }}

    {{ template "repo/fragments/og" (dict "RepoInfo" .RepoInfo "Title" $title "Url" $url) }}
{{ end }}

{{ define "repoContent" }}
  {{ $active := "closed" }}
  {{ if .FilteringByOpen }}
    {{ $active = "open" }}
  {{ end }}

  {{ $open := 
     (dict
       "Key" "open"
       "Value" "open"
       "Icon" "circle-dot"
       "Meta" (string .RepoInfo.Stats.IssueCount.Open)) }}
  {{ $closed := 
     (dict
       "Key" "closed"
       "Value" "closed"
       "Icon" "ban"
       "Meta" (string .RepoInfo.Stats.IssueCount.Closed)) }}
  {{ $values := list $open $closed }}

  <div class="grid gap-2 grid-cols-[auto_1fr_auto] grid-row-2">
    <form class="flex relative col-span-3 sm:col-span-1 sm:col-start-2" method="GET">
      <input type="hidden" name="state" value="{{ if .FilteringByOpen }}open{{ else }}closed{{ end }}">
      <div class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none">
        {{ i "search" "w-4 h-4" }}
      </div>
      <input class="flex-1 p-1 pl-10 pr-10 peer" type="text" name="q" value="{{ .FilterQuery }}" placeholder=" ">
      <a
        href="?state={{ if .FilteringByOpen }}open{{ else }}closed{{ end }}"
        class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-600 dark:hover:text-gray-300 hidden peer-[:not(:placeholder-shown)]:block"
      >
        {{ i "x" "w-4 h-4" }}
      </a>
    </form>
    <div class="sm:row-start-1">
      {{ template "fragments/tabSelector" (dict "Name" "state" "Values" $values "Active" $active) }}
    </div>
    <a
      href="/{{ .RepoInfo.FullName }}/issues/new"
      class="col-start-3 btn-create text-sm flex items-center justify-center gap-2 no-underline hover:no-underline hover:text-white"
    >
      {{ i "circle-plus" "w-4 h-4" }}
      <span>new</span>
    </a>
  </div>
  <div class="error" id="issues"></div>
{{ end }}

{{ define "repoAfter" }}
  <div class="mt-2">
    {{ template "repo/issues/fragments/issueListing" (dict "Issues" .Issues "RepoPrefix" .RepoInfo.FullName "LabelDefs" .LabelDefs) }}
  </div>
  {{ block "pagination" . }} {{ end }}
{{ end }}

{{ define "pagination" }}
<div class="flex justify-end mt-4 gap-2">
    {{ $currentState := "closed" }}
    {{ if .FilteringByOpen }}
      {{ $currentState = "open" }}
    {{ end }}

    {{ if gt .Page.Offset 0 }}
       {{ $prev := .Page.Previous }}
        <a
            class="btn flex items-center gap-2 no-underline hover:no-underline dark:text-white dark:hover:bg-gray-700"
            hx-boost="true"
            href = "/{{ $.RepoInfo.FullName }}/issues?state={{ $currentState }}&q={{ .FilterQuery }}&offset={{ $prev.Offset }}&limit={{ $prev.Limit }}"
        >
            {{ i "chevron-left" "w-4 h-4" }}
            previous
        </a>
    {{ else }}
        <div></div>
    {{ end }}

    {{ if eq (len .Issues) .Page.Limit }}
       {{ $next := .Page.Next }}
        <a
            class="btn flex items-center gap-2 no-underline hover:no-underline dark:text-white dark:hover:bg-gray-700"
            hx-boost="true"
            href = "/{{ $.RepoInfo.FullName }}/issues?state={{ $currentState }}&q={{ .FilterQuery }}&offset={{ $next.Offset }}&limit={{ $next.Limit }}"
        >
            next
            {{ i "chevron-right" "w-4 h-4" }}
        </a>
    {{ end }}
</div>
{{ end }}
