{{ define "title" }}issues &middot; {{ .RepoInfo.FullName }}{{ end }}

{{ define "extrameta" }}
    {{ $title := "issues"}}
    {{ $url := printf "https://tangled.org/%s/issues" .RepoInfo.FullName }}

    {{ template "repo/fragments/og" (dict "RepoInfo" .RepoInfo "Title" $title "Url" $url) }}
{{ end }}

{{ define "repoContent" }}
<div class="flex justify-between items-center gap-4">
  <div class="flex gap-4">
    <a
        href="?state=open"
        class="flex items-center gap-2 {{ if .FilteringByOpen }}font-bold {{ else }}text-gray-500 dark:text-gray-400{{ end }}"
        >
        {{ i "circle-dot" "w-4 h-4" }}
        <span>{{ .RepoInfo.Stats.IssueCount.Open }} open</span>
    </a>
    <a
        href="?state=closed"
        class="flex items-center gap-2 {{ if not .FilteringByOpen }}font-bold {{ else }}text-gray-500 dark:text-gray-400{{ end }}"
        >
        {{ i "ban" "w-4 h-4" }}
        <span>{{ .RepoInfo.Stats.IssueCount.Closed }} closed</span>
    </a>
    <form class="flex gap-4" method="GET">
        <input type="hidden" name="state" value="{{ if .FilteringByOpen }}open{{ else }}closed{{ end }}">
        <input class="" type="text" name="q" value="{{ .FilterQuery }}">
        <button class="btn" type="submit">
            search
        </button>
    </form>
  </div>
  <a
      href="/{{ .RepoInfo.FullName }}/issues/new"
      class="btn-create text-sm flex items-center justify-center gap-2 no-underline hover:no-underline hover:text-white"
      >
      {{ i "circle-plus" "w-4 h-4" }}
      <span>new</span>
  </a>
</div>
<div class="error" id="issues"></div>
{{ end }}

{{ define "repoAfter" }}
  <div class="mt-2">
    {{ template "repo/issues/fragments/issueListing" (dict "Issues" .Issues "RepoPrefix" .RepoInfo.FullName "LabelDefs" .LabelDefs) }}
  </div>
  {{ block "pagination" . }} {{ end }}
{{ end }}

{{ define "pagination" }}
<div class="flex justify-end mt-4 gap-2">
    {{ $currentState := "closed" }}
    {{ if .FilteringByOpen }}
      {{ $currentState = "open" }}
    {{ end }}

    {{ if gt .Page.Offset 0 }}
       {{ $prev := .Page.Previous }}
        <a
            class="btn flex items-center gap-2 no-underline hover:no-underline dark:text-white dark:hover:bg-gray-700"
            hx-boost="true"
            href = "/{{ $.RepoInfo.FullName }}/issues?state={{ $currentState }}&q={{ .FilterQuery }}&offset={{ $prev.Offset }}&limit={{ $prev.Limit }}"
        >
            {{ i "chevron-left" "w-4 h-4" }}
            previous
        </a>
    {{ else }}
        <div></div>
    {{ end }}

    {{ if eq (len .Issues) .Page.Limit }}
       {{ $next := .Page.Next }}
        <a
            class="btn flex items-center gap-2 no-underline hover:no-underline dark:text-white dark:hover:bg-gray-700"
            hx-boost="true"
            href = "/{{ $.RepoInfo.FullName }}/issues?state={{ $currentState }}&q={{ .FilterQuery }}&offset={{ $next.Offset }}&limit={{ $next.Limit }}"
        >
            next
            {{ i "chevron-right" "w-4 h-4" }}
        </a>
    {{ end }}
</div>
{{ end }}
