{{ define "title" }}{{ .Issue.Title }} &middot; issue #{{ .Issue.IssueId }} &middot; {{ .RepoInfo.FullName }}{{ end }}


{{ define "extrameta" }}
    {{ $title := printf "%s &middot; issue #%d &middot; %s" .Issue.Title .Issue.IssueId .RepoInfo.FullName }}
    {{ $url := printf "https://tangled.sh/%s/issues/%d" .RepoInfo.FullName .Issue.IssueId }}

    {{ template "repo/fragments/og" (dict "RepoInfo" .RepoInfo "Title" $title "Url" $url) }}
{{ end }}

{{ define "repoContentLayout" }}
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 w-full">
    <div class="col-span-1 md:col-span-3">
      <section class="bg-white dark:bg-gray-800 p-6 rounded relative w-full mx-auto dark:text-white">
        {{ block "repoContent" . }}{{ end }}
      </section>
      {{ block "repoAfter" . }}{{ end }}
    </div>
    <div class="col-span-1 flex flex-col gap-6">
      {{ template "issueLabels" . }}
      {{ template "issueParticipants" . }}
    </div>
  </div>
{{ end }}

{{ define "repoContent" }}
<section id="issue-{{ .Issue.IssueId }}">
  {{ template "issueHeader" .Issue }}
  {{ template "issueInfo" . }}
  {{ if .Issue.Body }}
    <article id="body" class="mt-4 prose dark:prose-invert">{{ .Issue.Body | markdown }}</article>
  {{ end }}
  <div class="flex flex-wrap gap-2 items-stretch">
    {{ template "issueReactions" . }}
    {{ template "issueLabels" . }}
  </div>
</section>
{{ end }}

{{ define "issueHeader" }}
  <header class="pb-2">
    <h1 class="text-2xl">
      {{ .Title | description }}
      <span class="text-gray-500 dark:text-gray-400">#{{ .IssueId }}</span>
    </h1>
  </header>
{{ end }}

{{ define "issueInfo" }}
  {{ $bgColor := "bg-gray-800 dark:bg-gray-700" }}
  {{ $icon := "ban" }}
  {{ if eq .Issue.State "open" }}
      {{ $bgColor = "bg-green-600 dark:bg-green-700" }}
      {{ $icon = "circle-dot" }}
  {{ end }}
  <div class="inline-flex items-center gap-2">
    <div id="state"
      class="inline-flex items-center rounded px-3 py-1 {{ $bgColor }}">
      {{ i $icon "w-4 h-4 mr-1.5 text-white" }}
      <span class="text-white">{{ .Issue.State }}</span>
    </div>
    <span class="text-gray-500 dark:text-gray-400 text-sm flex flex-wrap items-center gap-1">
      opened by
      {{ template "user/fragments/picHandleLink" .Issue.Did }}
      <span class="select-none before:content-['\00B7']"></span>
      {{ if .Issue.Edited }}
        edited {{ template "repo/fragments/time" .Issue.Edited }}
      {{ else }}
        {{ template "repo/fragments/time" .Issue.Created }}
      {{ end }}
    </span>

    {{ if and .LoggedInUser (eq .LoggedInUser.Did .Issue.Did) }}
      {{ template "issueActions" . }}
    {{ end }}
  </div>
  <div id="issue-actions-error" class="error"></div>
{{ end }}

{{ define "issueActions" }}
  {{ template "editIssue" . }}
  {{ template "deleteIssue" . }}
{{ end }}

{{ define "editIssue" }}
  <a
    class="text-gray-500 dark:text-gray-400 flex gap-1 items-center group"
    hx-get="/{{ .RepoInfo.FullName }}/issues/{{ .Issue.IssueId }}/edit"
    hx-swap="innerHTML"
    hx-target="#issue-{{.Issue.IssueId}}">
    {{ i "pencil" "size-3" }}
  </a>
{{ end }}

{{ define "deleteIssue" }}
  <a
    class="text-gray-500 dark:text-gray-400 flex gap-1 items-center group"
    hx-delete="/{{ .RepoInfo.FullName }}/issues/{{ .Issue.IssueId }}/"
    hx-confirm="Are you sure you want to delete your issue?"
    hx-swap="none">
    {{ i "trash-2" "size-3" }}
    {{ i "loader-circle" "size-3 animate-spin hidden group-[.htmx-request]:inline" }}
  </a>
{{ end }}

{{ define "issueReactions" }}
  <div class="flex items-center gap-2">
      {{ template "repo/fragments/reactionsPopUp" .OrderedReactionKinds }}
      {{ range $kind := .OrderedReactionKinds }}
          {{
              template "repo/fragments/reaction"
              (dict
                  "Kind"      $kind
                  "Count"     (index $.Reactions $kind)
                  "IsReacted" (index $.UserReacted $kind)
                  "ThreadAt"  $.Issue.AtUri)
          }}
      {{ end }}
  </div>
{{ end }}

{{ define "issueLabels" }}
  {{ range $k, $valset := $.Issue.Labels.Inner }}
    {{ $d := index $.LabelDefs $k }}
    {{ range $v, $s := $valset }}
      {{ template "labels/fragments/label" (dict "def" $d "val" $v) }}
    {{ end }}
  {{ end }}

  <button
    class="btn text-gray-500 dark:text-gray-400"
    popovertarget="add-label-modal"
    {{ if not (or .RepoInfo.Roles.IsOwner .RepoInfo.Roles.IsCollaborator) }}disabled{{ end }}
    popovertargetaction="toggle">
    {{ i "plus" "size-4" }}
  </button>
  <div
    id="add-label-modal"
    popover
    class="bg-white w-full sm:w-96 dark:bg-gray-800 p-6 rounded border border-gray-200 dark:border-gray-700 drop-shadow dark:text-white backdrop:bg-gray-400/50 dark:backdrop:bg-gray-800/50">
    {{ template "repo/fragments/addLabelModal" (dict "root" $ "subject" $.Issue.AtUri.String "state" $.Issue.Labels) }}
  </div>
{{ end }}

{{ define "repoAfter" }}
  <div class="flex flex-col gap-4 mt-4">
  {{
    template "repo/issues/fragments/commentList"
    (dict
      "RepoInfo" $.RepoInfo
      "LoggedInUser" $.LoggedInUser
      "Issue" $.Issue
      "CommentList" $.Issue.CommentList)
  }}

  {{ template "repo/issues/fragments/newComment" . }}
  <div>
{{ end }}

