{{ define "layouts/base" }}
    <!doctype html>
    <html lang="en" class="dark:bg-gray-900">
        <head>
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <meta name="htmx-config" content='{"includeIndicatorStyles": false}'>
            <script src="/static/htmx.min.js"></script>
            <link rel="stylesheet" href="/static/tw.css?{{ cssContentHash }}" type="text/css" />
            <title>{{ block "title" . }}{{ end }} · tangled</title>
            {{ block "extrameta" . }}{{ end }}
        </head>
        <body class="bg-slate-100 dark:bg-gray-900 dark:text-white transition-colors duration-200">
          <div class="container mx-auto px-1 md:pt-4 min-h-screen flex flex-col">
            <header style="z-index: 20">
              {{ block "topbar" . }}
              {{ template "layouts/topbar" . }}
              {{ end }}
            </header>
            <main class="content grow">{{ block "content" . }}{{ end }}</main>
            <footer class="mt-16">
                {{ block "footer" . }}
                    {{ template "layouts/footer" . }}
                {{ end }}
            </footer>
          </div>
        </body>
    </html>
{{ end }}
