{{ define "layouts/base" }}
    <!doctype html>
    <html lang="en" class="dark:bg-gray-900">
        <head>
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <meta name="htmx-config" content='{"includeIndicatorStyles": false}'>
            <script src="/static/htmx.min.js"></script>
            <script src="/static/htmx-ext-ws.min.js"></script>
            <link rel="stylesheet" href="/static/tw.css?{{ cssContentHash }}" type="text/css" />
            <title>{{ block "title" . }}{{ end }} · tangled</title>
            {{ block "extrameta" . }}{{ end }}
        </head>
        <body class="bg-slate-100 dark:bg-gray-900 dark:text-white transition-colors duration-200">
          {{ block "topbarLayout" . }}
            <div class="px-1 grid grid-cols-1 md:grid-cols-12 gap-2">
              <div class="{{ layoutSide }}">
                {{ block "topbarLeft" . }} {{ end }}
              </div>
              <header style="z-index: 20" class="{{ layoutCenter }}">
                {{ block "topbar" . }}
                  {{ template "layouts/topbar" . }}
                {{ end }}
              </header>
              <div class="{{ layoutSide }}">
                {{ block "topbarRight" . }} {{ end }}
              </div>
            </div>
          {{ end }}

          <div class="flex flex-col min-h-screen">
            {{ block "contentLayout" . }}
              <div class="px-1 grid grid-cols-1 md:grid-cols-12 gap-2">
                <div class="{{ layoutSide }}">
                  {{ block "contentLeft" . }} {{ end }}
                </div>
                <main class="{{ layoutCenter }}">
                  {{ block "content" . }}{{ end }}
                </main>
                <div class="{{ layoutSide }}">
                  {{ block "contentRight" . }} {{ end }}
                </div>
              </div>
            {{ end }}

            {{ block "contentAfterLayout" . }}
              <div class="px-1 grid grid-cols-1 md:grid-cols-12 gap-2">
                <div class="{{ layoutSide }}">
                  {{ block "contentAfterLeft" . }} {{ end }}
                </div>
                <main class="px-1 {{ layoutCenter }}">
                  {{ block "contentAfter" . }}{{ end }}
                </main>
                <div class="{{ layoutSide }}">
                  {{ block "contentAfterRight" . }} {{ end }}
                </div>
              </div>
            {{ end }}
          </div>

          {{ block "footerLayout" . }}
            <div class="px-1 grid grid-cols-1 md:grid-cols-12 gap-2">
              <div class="{{ layoutSide }}">
                {{ block "footerLeft" . }} {{ end }}
              </div>
              <footer class="mt-16 {{ layoutCenter }}">
                {{ block "footer" . }}
                  {{ template "layouts/footer" . }}
                {{ end }}
              </footer>
              <div class="{{ layoutSide }}">
                {{ block "footerRight" . }} {{ end }}
              </div>
            </div>
          {{ end }}

        </body>
    </html>
{{ end }}
