{{ define "title" }}{{ .RepoInfo.FullName }}{{ end }}

{{ define "content" }}
    <section id="repo-header" class="mb-4 py-2 px-6 dark:text-white">
      {{ if .RepoInfo.Source }}
      <p class="text-sm">
      <div class="flex items-center">
          {{ i "git-fork" "w-3 h-3 mr-1 shrink-0" }}
          forked from
          {{ $sourceOwner := didOrHandle .RepoInfo.Source.Did .RepoInfo.SourceHandle  }}
          <a class="ml-1 underline" href="/{{ $sourceOwner }}/{{ .RepoInfo.Source.Name }}">{{ $sourceOwner }}/{{ .RepoInfo.Source.Name }}</a>
      </div>
      </p>
      {{ end }}
      <div class="text-lg flex items-center justify-between">
        <div>
          <a href="/{{ .RepoInfo.OwnerWithAt }}">{{ .RepoInfo.OwnerWithAt }}</a>
          <span class="select-none">/</span>
          <a href="/{{ .RepoInfo.FullName }}" class="font-bold">{{ .RepoInfo.Name }}</a>
        </div>

        <div class="flex items-center gap-2 z-auto">
          <a
            class="btn text-sm no-underline hover:no-underline flex items-center gap-2 group"
            href="/{{ .RepoInfo.FullName }}/feed.atom"
          >
            {{ i "rss" "size-4" }}
          </a>
          {{ template "repo/fragments/repoStar" .RepoInfo }}
          <a
            class="btn text-sm no-underline hover:no-underline flex items-center gap-2 group"
            hx-boost="true"
            href="/{{ .RepoInfo.FullName }}/fork"
          >
            {{ i "git-fork" "w-4 h-4" }}
            fork
            {{ i "loader-circle" "w-4 h-4 animate-spin hidden group-[.htmx-request]:inline" }}
          </a>
        </div>
      </div>
      {{ template "repo/fragments/repoDescription" . }}
    </section>

    <section
        class="w-full flex flex-col drop-shadow-sm"
    >
        <nav class="w-full pl-4 overflow-auto">
            <div class="flex z-60">
                {{ $activeTabStyles := "-mb-px bg-white dark:bg-gray-800" }}
                {{ $tabs := .RepoInfo.GetTabs }}
                {{ $tabmeta := .RepoInfo.TabMetadata }}
                {{ range $item := $tabs }}
                    {{ $key := index $item 0 }}
                    {{ $value := index $item 1 }}
                    {{ $icon := index $item 2 }}
                    {{ $meta := index $tabmeta $key }}
                    <a
                        href="/{{ $.RepoInfo.FullName }}{{ $value }}"
                        class="relative -mr-px group no-underline hover:no-underline"
                        hx-boost="true"
                    >
                        <div
                            class="px-4 py-1 mr-1 text-black dark:text-white min-w-[80px] text-center relative rounded-t whitespace-nowrap
                             {{ if eq $.Active $key }}
                                {{ $activeTabStyles }}
                             {{ else }}
                                group-hover:bg-gray-100/25 group-hover:dark:bg-gray-700/25
                             {{ end }}
                             "
                        >
                            <span class="flex items-center justify-center">
                                {{ i $icon "w-4 h-4 mr-2" }}
                                {{ $key }}
                                {{ if not (isNil $meta) }}
                                <span class="bg-gray-200 dark:bg-gray-700 rounded py-1/2 px-1 text-sm ml-1">{{  $meta }}</span>
                                {{ end }}
                            </span>
                        </div>
                    </a>
                {{ end }}
            </div>
        </nav>
        <section
            class="bg-white dark:bg-gray-800 p-6 rounded relative w-full dark:text-white"
        >
            {{ block "repoContent" . }}{{ end }}
        </section>
        {{ block "repoAfter" . }}{{ end }}
    </section>
{{ end }}

{{ define "layouts/repobase" }}
    {{ template "layouts/base" . }}
{{ end }}
