{{ define "title" }}{{ .Path }} at {{ .Ref }} &middot; {{ .RepoInfo.FullName }}{{ end }}


{{ define "extrameta" }}
    <meta name="vcs:clone" content="https://tangled.sh/{{ .RepoInfo.FullName }}"/>
    <meta name="forge:summary" content="https://tangled.sh/{{ .RepoInfo.FullName }}">
    <meta name="forge:dir" content="https://tangled.sh/{{ .RepoInfo.FullName }}/tree/{ref}/{path}">
    <meta name="forge:file" content="https://tangled.sh/{{ .RepoInfo.FullName }}/blob/{ref}/{path}">
    <meta name="forge:line" content="https://tangled.sh/{{ .RepoInfo.FullName }}/blob/{ref}/{path}#L{line}">
    <meta name="go-import" content="tangled.sh/{{ .RepoInfo.FullNameWithoutAt }} git https://tangled.sh/{{ .RepoInfo.FullName }}">
{{ end }}


{{ define "repoContent" }}
    {{ $lines := split .Contents }}
    {{ $tot_lines := len $lines }}
    {{ $tot_chars := len (printf "%d" $tot_lines) }}
    {{ $code_number_style := "text-gray-400 left-0 bg-white text-right mr-6 select-none inline-block w-12" }}
    {{ $linkstyle := "no-underline hover:underline" }}
    <div class="pb-2 mb-3 text-base border-b border-gray-200">
        <div class="flex flex-col md:flex-row md:justify-between gap-2">
            <div id="breadcrumbs" class="overflow-x-auto whitespace-nowrap">
                {{ range $idx, $value := .BreadCrumbs }}
                    {{ if ne $idx (sub (len $.BreadCrumbs) 1) }}
                        <a
                            href="{{ index . 1 }}"
                            class="text-bold text-gray-500 {{ $linkstyle }}"
                            >{{ index . 0 }}</a
                        >
                        /
                    {{ else }}
                        <span class="text-bold text-gray-500"
                            >{{ index . 0 }}</span
                        >
                    {{ end }}
                {{ end }}
            </div>
            <div id="file-info" class="text-gray-500 text-xs md:text-sm flex flex-wrap items-center gap-1 md:gap-0">
                <span>at <a href="/{{ .RepoInfo.FullName }}/tree/{{ .Ref }}">{{ .Ref }}</a></span>
                <span class="select-none px-1 md:px-2 [&:before]:content-['·']"></span>
                <span>{{ .Lines }} lines</span>
                <span class="select-none px-1 md:px-2 [&:before]:content-['·']"></span>
                <span>{{ byteFmt .SizeHint }}</span>
                <span class="select-none px-1 md:px-2 [&:before]:content-['·']"></span>
                <a href="/{{ .RepoInfo.FullName }}/blob/raw/{{ .Ref }}/{{ .Path }}">view raw</a>
            </div>
        </div>
    </div>
    {{ if .IsBinary }}
        <p class="text-center text-gray-400">
            This is a binary file and will not be displayed.
        </p>
    {{ else }}
    <div class="overflow-auto relative text-ellipsis">
        {{ range $idx, $line := $lines }}
            {{ $linenr := add $idx 1 }}
            <div class="flex">
              <a href="#L{{ $linenr }}" id="L{{ $linenr }}" class="no-underline peer">
                  <span class="{{ $code_number_style }}"
                      style="min-width: {{ $tot_chars }}ch;">
                      {{ $linenr }}
                  </span>
              </a>
              <div class="whitespace-pre peer-target:bg-yellow-200">{{ $line | escapeHtml }}</div>
            </div>
        {{ end }}
    </div>
    {{ end }}
{{ end }}
