{{ define "title"}}{{ range .BreadCrumbs }}{{ index . 0}}/{{ end }} at {{ .Ref }} &middot; {{ .RepoInfo.FullName }}{{ end }}


{{ define "extrameta" }}
    <meta name="vcs:clone" content="https://tangled.sh/{{ .RepoInfo.FullName }}"/>
    <meta name="forge:summary" content="https://tangled.sh/{{ .RepoInfo.FullName }}">
    <meta name="forge:dir" content="https://tangled.sh/{{ .RepoInfo.FullName }}/tree/{ref}/{path}">
    <meta name="forge:file" content="https://tangled.sh/{{ .RepoInfo.FullName }}/blob/{ref}/{path}">
    <meta name="forge:line" content="https://tangled.sh/{{ .RepoInfo.FullName }}/blob/{ref}/{path}#L{line}">
    <meta name="go-import" content="tangled.sh/{{ .RepoInfo.FullNameWithoutAt }} git https://tangled.sh/{{ .RepoInfo.FullName }}">
{{ end }}


{{define "repoContent"}}
<main>
  <div class="tree">
    {{ $containerstyle := "py-1" }}
    {{ $linkstyle := "no-underline hover:underline" }}

    <div class="pb-2 mb-3 text-base border-b border-gray-200">
      <div class="flex flex-col md:flex-row md:justify-between gap-2">
        <div id="breadcrumbs" class="overflow-x-auto whitespace-nowrap">
          {{ range .BreadCrumbs }}
          <a href="{{ index . 1}}" class="text-bold text-gray-500 {{ $linkstyle }}">{{ index . 0 }}</a> /
          {{ end }}
        </div>
        <div id="dir-info" class="text-gray-500 text-xs md:text-sm flex flex-wrap items-center gap-1 md:gap-0">
          {{ $stats := .TreeStats }}

          <span>at <a href="/{{ $.RepoInfo.FullName }}/tree/{{ $.Ref }}">{{ $.Ref }}</a></span>
          <span class="select-none px-1 md:px-2 [&:before]:content-['·']"></span>
          {{ if eq $stats.NumFolders 1 }}
            <span>{{ $stats.NumFolders }} folder</span>
            <span class="select-none px-1 md:px-2 [&:before]:content-['·']"></span>
          {{ else if gt $stats.NumFolders 1 }}
            <span>{{ $stats.NumFolders }} folders</span>
            <span class="select-none px-1 md:px-2 [&:before]:content-['·']"></span>
          {{ end }}

          {{ if eq $stats.NumFiles 1 }}
            <span>{{ $stats.NumFiles }} file</span>
          {{ else if gt $stats.NumFiles 1 }}
            <span>{{ $stats.NumFiles }} files</span>
          {{ end }}

        </div>
      </div>
    </div>

    {{ range .Files }}
    {{ if not .IsFile }}
    <div class="{{ $containerstyle }}">
        <div class="flex justify-between items-center">
            <a href="/{{ $.BaseTreeLink }}/{{ .Name }}" class="{{ $linkstyle }}">
                <div class="flex items-center gap-2">
                  {{ i "folder" "w-3 h-3 fill-current" }}{{ .Name }}
                </div>
            </a>
            <time class="text-xs text-gray-500">{{ timeFmt .LastCommit.When }}</time>
        </div>
    </div>
    {{ end }}
    {{ end }}

    {{ range .Files }}
    {{ if .IsFile }}
    <div class="{{ $containerstyle }}">
        <div class="flex justify-between items-center">
            <a href="/{{ $.BaseBlobLink }}/{{ .Name }}" class="{{ $linkstyle }}">
                <div class="flex items-center gap-2">
                  {{ i "file" "w-3 h-3" }}{{ .Name }}
                </div>
            </a>
            <time class="text-xs text-gray-500">{{ timeFmt .LastCommit.When }}</time>
        </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</main>
{{end}}
