{{ define "title" }}new pull | {{ .RepoInfo.FullName }}{{ end }}

{{ define "repoContent" }}
    <section class="prose dark:prose-invert">
    <p>
        This is v1 of the pull request flow. Paste your patch in the form below.
        Here are the steps to get you started:
        <ul class="list-decimal pl-10 space-y-2 text-gray-700 dark:text-gray-300">
            <li class="leading-relaxed">Clone this repository.</li>
            <li class="leading-relaxed">Make your changes in your local repository.</li>
            <li class="leading-relaxed">Grab the diff using <code>git diff</code>.</li>
            <li class="leading-relaxed">Paste the diff output in the form below.</li>
        </ul>
    </p>
    </section> 
    <form
        hx-post="/{{ .RepoInfo.FullName }}/pulls/new"
        class="mt-6 space-y-6"
        hx-swap="none"
    >
        <div class="flex flex-col gap-4">
          <div>
            <label for="title" class="dark:text-white">write a title</label>
            <input type="text" name="title" id="title" class="w-full dark:bg-gray-700 dark:text-white dark:border-gray-600" />
          </div>

          <div>
            <label for="body" class="dark:text-white">add a description</label>
            <textarea
                name="body"
                id="body"
                rows="6"
                class="w-full resize-y dark:bg-gray-700 dark:text-white dark:border-gray-600"
                placeholder="Describe your change. Markdown is supported."
                ></textarea>
          </div>

          <div>
            <label for="targetBranch" class="dark:text-white">configure branches</label>
            <div class="flex flex-wrap gap-2 items-center">
              <select
                  required
                  name="targetBranch"
                  class="p-1 border border-gray-200 bg-white dark:bg-gray-700 dark:text-white dark:border-gray-600"
                  >
                  <option disabled selected>target branch</option>
                  {{ range .Branches }}
                  <option value="{{ .Reference.Name }}" class="py-1">
                  {{ .Reference.Name }}
                  </option>
                  {{ end }}
              </select>

              {{ if .RepoInfo.Roles.IsPushAllowed }}
              {{ i "move-left" "w-5 h-5" }}
              <select
                  name="sourceBranch"
                  class="p-1 border border-gray-200 bg-white dark:bg-gray-700 dark:text-white dark:border-gray-600"
                  >
                  <option disabled selected>source branch</option>
                  {{ range .Branches }}
                  <option value="{{ .Reference.Name }}" class="py-1">
                  {{ .Reference.Name }}
                  </option>
                  {{ end }}
              </select>
              {{ end }}

            </div>
          </div>

          <div class="mt-4">
            {{ $label := "paste your patch here" }}
            {{ $rows := 10 }}
            {{ if .RepoInfo.Roles.IsPushAllowed }}
              {{ $label = "or paste your patch here" }}
              {{ $rows = 4 }}
            {{ end }}

            <label for="patch" class="dark:text-white">{{ $label }}</label>
            <textarea
                name="patch"
                id="patch"
                rows="{{$rows}}"
                class="w-full resize-y font-mono dark:bg-gray-700 dark:text-white dark:border-gray-600"
                placeholder="Paste your git diff output here."
            ></textarea>
          </div>

          <div class="flex justify-end items-center gap-2">
            <button type="submit" class="btn">create</button>
          </div>

        </div>
        <div id="pull" class="error dark:text-red-300"></div>
    </form>
{{ end }}

{{ define "repoAfter" }}
<div id="patch-preview" class="error dark:text-red-300"></div>
{{ end }}
