{{ define "title" }}new pull &middot; {{ .RepoInfo.FullName }}{{ end }}

{{ define "repoContent" }}
    <section class="prose dark:prose-invert">
    <p>
        This is v1 of the pull request flow. Paste your patch in the form below.
        Here are the steps to get you started:
        <ul class="list-decimal pl-10 space-y-2 text-gray-700 dark:text-gray-300">
            <li class="leading-relaxed">Clone this repository.</li>
            <li class="leading-relaxed">Make your changes in your local repository.</li>
            <li class="leading-relaxed">Grab the diff using <code>git diff</code>.</li>
            <li class="leading-relaxed">Paste the diff output in the form below.</li>
        </ul>
    </p>
    </section>
    <form
        hx-post="/{{ .RepoInfo.FullName }}/pulls/new"
        class="mt-6 space-y-6"
        hx-swap="none"
    >
        <div class="flex flex-col gap-4">
          <div>
            <label for="title" class="dark:text-white">write a title</label>
            <input type="text" name="title" id="title" class="w-full dark:bg-gray-700 dark:text-white dark:border-gray-600" />
          </div>

          <div>
            <label for="body" class="dark:text-white">add a description</label>
            <textarea
                name="body"
                id="body"
                rows="6"
                class="w-full resize-y dark:bg-gray-700 dark:text-white dark:border-gray-600"
                placeholder="Describe your change. Markdown is supported."
                ></textarea>
          </div>


        <label>choose your pull strategy</label>
        <nav class="flex space-x-4">
            <button
                type="button"
                class="px-3 py-2 pb-2 btn"
                hx-get="/{{ .RepoInfo.FullName }}/pulls/new/patch-upload"
                hx-target="#patch-strategy"
                hx-swap="innerHTML"
            >
                paste patch
            </button>

        {{ if .RepoInfo.Roles.IsPushAllowed }}
            <button
                type="button"
                class="px-3 py-2 pb-2 btn"
                hx-get="/{{ .RepoInfo.FullName }}/pulls/new/compare-branches"
                hx-target="#patch-strategy"
                hx-swap="innerHTML"
            >
                compare branches
            </button>
        {{ end }}
        <button
            type="button"
            class="px-3 py-2 pb-2 btn"
            hx-get="/{{ .RepoInfo.FullName }}/pulls/new/compare-forks"
            hx-target="#patch-strategy"
            hx-swap="innerHTML"
        >
            compare forks
        </button>
        </nav>

        <section id="patch-strategy">
            {{ template "fragments/pullPatchUpload" . }}
        </section>

          <div class="flex justify-start items-center gap-2">
            <button type="submit" class="btn flex items-center gap-2">
                {{ i "git-pull-request-create" "w-4 h-4" }}
                create pull
            </button>
          </div>

        </div>
        <div id="pull" class="error dark:text-red-300"></div>
    </form>
{{ end }}

{{ define "repoAfter" }}
<div id="patch-preview" class="error dark:text-red-300"></div>
{{ end }}
