{{ define "title" }}
    {{ $oneIndexedRound := add .Round 1 }}
    patch of {{ .Pull.Title }} &middot; round #{{ $oneIndexedRound }} &middot; pull #{{ .Pull.PullId }} &middot; {{ .RepoInfo.FullName }}
{{ end }}

{{ define "content" }}
  {{ $oneIndexedRound := add .Round 1 }}
  {{ $stat := .Diff.Stat }}
    <div class="rounded drop-shadow-sm bg-white py-4 px-6">
      <header class="pb-2">
          <div class="flex gap-3 items-center mb-3">
              <a href="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/" class="flex items-center gap-2 font-medium">
                {{ i "arrow-left" "w-5 h-5" }}
                back
              </a>
              <span class="select-none before:content-['\00B7']"></span>
              round #{{ $oneIndexedRound }}
          </div>
          <div class="border-t border-gray-200 my-2"></div>
          <h1 class="text-2xl mt-3">
              {{ .Pull.Title }}
              <span class="text-gray-500">#{{ .Pull.PullId }}</span>
          </h1>
      </header>

      {{ $bgColor := "bg-gray-800" }}
      {{ $icon := "ban" }}

      {{ if .Pull.State.IsOpen }}
          {{ $bgColor = "bg-green-600" }}
          {{ $icon = "git-pull-request" }}
      {{ else if .Pull.State.IsMerged }}
          {{ $bgColor = "bg-purple-600" }}
          {{ $icon = "git-merge" }}
      {{ end }}

      <section>
          <div class="flex items-center gap-2">
              <div
                  id="state"
                  class="inline-flex items-center rounded px-3 py-1 {{ $bgColor }}"
              >
                  {{ i $icon "w-4 h-4 mr-1.5 text-white" }}
                  <span class="text-white">{{ .Pull.State.String }}</span>
              </div>
              <span class="text-gray-500 text-sm">
                  opened by
                  {{ $owner := index $.DidHandleMap .Pull.OwnerDid }}
                  <a href="/{{ $owner }}" class="no-underline hover:underline"
                      >{{ $owner }}</a
                  >
                  <span class="select-none before:content-['\00B7']"></span>
                  <time>{{ .Pull.Created | timeFmt }}</time>
                  <span class="select-none before:content-['\00B7']"></span>
                  <span>targeting branch 
                    <span class="text-xs rounded bg-gray-100 text-black font-mono px-2 mx-1/2 inline-flex items-center">
                      {{ .Pull.TargetBranch }}
                    </span>
                  </span>
              </span>
          </div>

          {{ if .Pull.Body }}
              <article id="body" class="mt-2 prose">
                  {{ .Pull.Body | markdown }}
              </article>
          {{ end }}
      </section>

      <div id="diff-stat">
        <br>
        <strong class="text-sm uppercase mb-4">Changed files</strong>
        {{ range .Diff.Diff }}
        <ul>
          {{ if .IsDelete }}
          <li><a href="#file-{{ .Name.Old }}">{{ .Name.Old }}</a></li>
          {{ else }}
          <li><a href="#file-{{ .Name.New }}">{{ .Name.New }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
  </div>

  <section>
    {{ template "fragments/diff" (list .RepoInfo.FullName .Diff) }}
  </section>
{{ end }}
