{{ define "title" }}
    patch of {{ .Pull.Title }} &middot; round #{{ .Round }} &middot; pull #{{ .Pull.PullId }} &middot; {{ .RepoInfo.FullName }}
{{ end }}

{{ define "content" }}
<section>
    <section
        class="bg-white dark:bg-gray-800 p-6 rounded relative w-full mx-auto drop-shadow-sm dark:text-white"
    >
        <div class="flex gap-3 items-center mb-3">
            <a href="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/" class="flex items-center gap-2 font-medium">
              {{ i "arrow-left" "w-5 h-5" }}
              back
            </a>
            <span class="select-none before:content-['\00B7']"></span>
            round<span class="flex items-center">{{ i "hash" "w-4 h-4" }}{{ .Round }}</span>
            <span class="select-none before:content-['\00B7']"></span>
            <a href="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/round/{{ .Round }}.patch">
                view raw
            </a>
        </div>
        <div class="border-t border-gray-200 dark:border-gray-700 my-2"></div>
    {{ template "repo/pulls/fragments/pullHeader" . }}
    </section>
  {{ template "repo/fragments/diff" (list .RepoInfo.FullName .Diff) }}
</section>
{{ end }}
