{{ define "title" }}pulls &middot; {{ .RepoInfo.FullName }}{{ end }}

{{ define "repoContent" }}
    <div class="flex justify-between items-center">
        <p class="dark:text-white">
            filtering
            <select
                class="border px-1 bg-white dark:bg-gray-800 border-gray-200 dark:border-gray-600 dark:text-white"
                onchange="window.location.href = '/{{ .RepoInfo.FullName }}/pulls?state=' + this.value"
            >
                <option value="open" {{ if .FilteringBy.IsOpen }}selected{{ end }}>
                    open ({{ .RepoInfo.Stats.PullCount.Open }})
                </option>
                <option value="merged" {{ if .FilteringBy.IsMerged }}selected{{ end }}>
                    merged ({{ .RepoInfo.Stats.PullCount.Merged }})
                </option>
                <option value="closed" {{ if .FilteringBy.IsClosed }}selected{{ end }}>
                    closed ({{ .RepoInfo.Stats.PullCount.Closed }})
                </option>
            </select>
            pull requests
        </p>
        <a
            href="/{{ .RepoInfo.FullName }}/pulls/new"
            class="btn text-sm flex items-center gap-2 no-underline hover:no-underline dark:text-white dark:bg-gray-700 dark:hover:bg-gray-600"
        >
            {{ i "git-pull-request" "w-4 h-4" }}
            <span>new pull request</span>
        </a>
    </div>
    <div class="error" id="pulls"></div>
{{ end }}

{{ define "repoAfter" }}
    <div class="flex flex-col gap-2 mt-2">
        {{ range .Pulls }}
            <div class="rounded drop-shadow-sm bg-white dark:bg-gray-800 px-6 py-4">
                <div class="pb-2">
                    <a href="/{{ $.RepoInfo.FullName }}/pulls/{{ .PullId }}" class="dark:text-white">
                        {{ .Title }}
                        <span class="text-gray-500 dark:text-gray-400">#{{ .PullId }}</span>
                    </a>
                </div>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                    {{ $owner := index $.DidHandleMap .OwnerDid }}
                    {{ $bgColor := "bg-gray-800 dark:bg-gray-700" }}
                    {{ $icon := "ban" }}

                    {{ if .State.IsOpen }}
                        {{ $bgColor = "bg-green-600 dark:bg-green-700" }}
                        {{ $icon = "git-pull-request" }}
                    {{ else if .State.IsMerged }}
                        {{ $bgColor = "bg-purple-600 dark:bg-purple-700" }}
                        {{ $icon = "git-merge" }}
                    {{ end }}


                    <span
                        class="inline-flex items-center rounded px-2 py-[5px] {{ $bgColor }} text-sm"
                    >
                        {{ i $icon "w-3 h-3 mr-1.5 text-white" }}
                        <span class="text-white">{{ .State.String }}</span>
                    </span>

                    <span>
                        <a href="/{{ $owner }}" class="dark:text-gray-300">{{ $owner }}</a>
                    </span>

                    <span class="before:content-['·']">
                        <time>
                            {{ .Created | timeFmt }}
                        </time>
                    </span>

                    <span class="before:content-['·']">
                        targeting
                        <span class="text-xs rounded bg-gray-100 dark:bg-gray-700 text-black dark:text-white font-mono px-2 mx-1/2 inline-flex items-center">
                          {{ .TargetBranch }}
                        </span>
                    </span>
                    {{ if not .IsPatch }}
                    <span>from
                      {{ if not .IsSameRepoBranch }}
                        <a href="/{{ $owner }}/{{ .PullSource.Repo.Name }}" class="no-underline hover:underline">{{ $owner }}/{{ .PullSource.Repo.Name }}</a>
                      {{ end }}

                      <span class="text-xs rounded bg-gray-100 dark:bg-gray-700 text-black dark:text-white font-mono px-2 mx-1/2 inline-flex items-center">
                        {{ .PullSource.Branch }}
                      </span>
                    </span>
                    {{ end }}
                </p>
            </div>
        {{ end }}
    </div>
{{ end }}
