{{ define "title" }}
    {{ .Pull.Title }} &middot; pull #{{ .Pull.PullId }} &middot; {{ .RepoInfo.FullName }}
{{ end }}

{{ define "repoContent" }}
    <header class="pb-4">
        <h1 class="text-2xl">
            {{ .Pull.Title }}
            <span class="text-gray-500">#{{ .Pull.PullId }}</span>
        </h1>
    </header>

    {{ $bgColor := "bg-gray-800" }}
    {{ $icon := "ban" }}

    {{ if .Pull.State.IsOpen }}
        {{ $bgColor = "bg-green-600" }}
        {{ $icon = "git-pull-request" }}
    {{ else if .Pull.State.IsMerged }}
        {{ $bgColor = "bg-purple-600" }}
        {{ $icon = "git-merge" }}
    {{ end }}

    <section>
        <div class="flex items-center gap-2">
            <div
                id="state"
                class="inline-flex items-center rounded px-3 py-1 {{ $bgColor }}"
            >
                <i
                    data-lucide="{{ $icon }}"
                    class="w-4 h-4 mr-1.5 text-white"
                ></i>
                <span class="text-white">{{ .Pull.State.String }}</span>
            </div>
            <span class="text-gray-500 text-sm">
                opened by
                {{ $owner := index $.DidHandleMap .Pull.OwnerDid }}
                <a href="/{{ $owner }}" class="no-underline hover:underline"
                    >{{ $owner }}</a
                >
                <span class="select-none before:content-['\00B7']"></span>
                <time>{{ .Pull.Created | timeFmt }}</time>
                <span class="select-none before:content-['\00B7']"></span>
                <time>targeting branch {{ .Pull.TargetBranch }}</time>
            </span>
        </div>

        {{ if .Pull.Body }}
            <article id="body" class="mt-8 prose">
                {{ .Pull.Body | markdown }}
            </article>
        {{ end }}
    </section>

{{ end }}

{{ define "repoAfter" }}
    <section id="submissions">
      {{ block "submissions" . }} {{ end }}
    </section>

    {{ $isPullAuthor := and .LoggedInUser (eq .LoggedInUser.Did .Pull.OwnerDid) }}
    {{ $isPushAllowed := .RepoInfo.Roles.IsPushAllowed }}

    {{ if $isPullAuthor }}
    <section id="update-card" class="mt-8 space-y-4 relative">
      {{ block "resubmitCard" . }} {{ end }}
    </section>
    {{ end }}

    <section id="merge-card" class="mt-8 space-y-4 relative">
      {{ if .Pull.State.IsMerged }}
        {{ block "alreadyMergedCard" . }} {{ end }}
      {{ else if .MergeCheck }}
         {{ if .MergeCheck.IsConflicted }}
           {{ block "isConflictedCard" $ }} {{ end }}
         {{ else }}
           {{ block "noConflictsCard" $ }} {{ end }}
         {{ end }}
      {{ end }}
    </section>

    {{ if and (or $isPullAuthor $isPushAllowed) (not .Pull.State.IsMerged) }}
        {{ $action := "close" }}
        {{ $icon := "circle-x" }}
        {{ $hoverColor := "red" }}
        {{ if .Pull.State.IsClosed }}
            {{ $action = "reopen" }}
            {{ $icon = "circle-dot" }}
            {{ $hoverColor = "green" }}
        {{ end }}
        <button
          hx-post="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/{{ $action }}"
          hx-swap="none"
          class="btn mt-8 text-sm flex items-center gap-2">
            <i data-lucide="{{ $icon }}" class="w-4 h-4 mr-2 text-{{ $hoverColor }}-400"></i>
            <span class="text-black">{{ $action }}</span>
        </button>
    {{ end }}

    <div id="pull-close"></div>
    <div id="pull-reopen"></div>
{{ end }}

{{ define "submissions" }}
  {{ $lastIdx := sub (len .Pull.Submissions) 1 }}
  {{ range $idx, $item := .Pull.Submissions }}
    {{ with $item }}
    <details {{ if eq $idx $lastIdx }}open{{ end }}>
      <summary>round #{{ .RoundNumber }}, {{ .Created | timeFmt }}, received {{ len .Comments }} comments</summary>
      <div>
        <h2>patch submitted by {{index $.DidHandleMap $.Pull.OwnerDid}}</h2>
        <pre><code>{{- .Patch -}}</code></pre>

        {{ range .Comments }}
          <div id="comment-{{.ID}}">
            {{ index $.DidHandleMap .OwnerDid }} commented {{ .Created | timeFmt }}: {{ .Body }}
          </div>
        {{ end }}
        {{ block "newComment" (list $ .ID) }} {{ end }}
      </div>
    </details>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "newComment" }}
  {{ $rootObj := index . 0 }}
  {{ $submissionId := index . 1 }}

  {{ with $rootObj }}
    {{ if .LoggedInUser }}
    <form
        hx-post="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/comment"
        class="mt-8"
        hx-swap="none">
        <input type="hidden" name="submissionId" value="{{ $submissionId }}">
        <textarea
            name="body"
            class="w-full p-2 rounded border border-gray-200"
            placeholder="Add to the discussion..."
        ></textarea>
        <button type="submit" class="btn mt-2">comment</button>
        <div id="pull-comment"></div>
    </form>
    {{ else }}
    <div class="bg-white rounded drop-shadow-sm px-6 py-4 mt-8">
      <a href="/login" class="underline">login</a> to join the discussion
    </div>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "alreadyMergedCard" }}
  <div
      id="merge-status-card"
      class="rounded relative bg-purple-50 border border-purple-200 p-4">
      {{ if gt (len .Comments) 0 }}
          <div
              class="absolute left-8 -top-4 w-px h-4 bg-gray-300"
          ></div>
      {{ else }}
          <div
              class="absolute left-8 -top-8 w-px h-8 bg-gray-300"
          ></div>
      {{ end }}


      <div class="flex items-center gap-2 text-purple-500">
          <i data-lucide="git-merge" class="w-4 h-4"></i>
          <span class="font-medium"
              >Pull request successfully merged</span
          >
      </div>

      <div class="mt-2 text-sm text-gray-700">
          <p>This pull request has been merged into the base branch.</p>
      </div>
  </div>
{{ end }}

{{ define "isConflictedCard" }}
  <div
      id="merge-status-card"
      class="rounded relative border bg-red-50 border-red-200 p-4">

      <div class="flex items-center gap-2 text-red-500">
        <i data-lucide="alert-triangle" class="w-4 h-4"></i>
        <span class="font-medium">merge conflicts detected</span>
      </div>

      <div class="mt-2">
          <ul class="text-sm space-y-1">
              {{ range .MergeCheck.Conflicts }}
                  <li class="flex items-center">
                      <i
                          data-lucide="file-warning"
                          class="w-3 h-3 mr-1.5 text-red-500"
                      ></i>
                      <span class="font-mono"
                          >{{ slice .Filename 0 (sub (len .Filename) 2) }}</span
                      >
                  </li>
              {{ end }}
          </ul>
      </div>
      <div class="mt-3 text-sm text-gray-700">
          <p>
              Please resolve these conflicts locally and update
              the patch to continue with the merge.
          </p>
      </div>
  </div>
{{ end }}


{{ define "noConflictsCard" }}
  {{ $isPushAllowed := .RepoInfo.Roles.IsPushAllowed }}
  <div
      id="merge-status-card"
      class="rounded relative border bg-green-50 border-green-200 p-4">

      <div class="flex items-center gap-2 text-green-500">
        <i data-lucide="check-circle" class="w-4 h-4"></i>
        <span class="font-medium">ready to merge</span>
      </div>

      <div class="mt-2 text-sm text-gray-700">
        No conflicts detected with the base branch. This
        pull request can be merged safely.
      </div>

      <div class="mt-4 flex items-center gap-2">
        {{ if $isPushAllowed }}
          <button
              class="btn flex items-center gap-2"
              hx-post="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/merge"
              hx-swap="none"
              {{ if or .Pull.State.IsClosed .MergeCheck.IsConflicted }}
                  disabled
              {{ end }}>
              <i data-lucide="git-merge" class="w-4 h-4"></i>
              <span>merge</span>
          </button>
        {{ end }}

        <div id="pull-merge-error" class="error"></div>
        <div id="pull-merge-success" class="success"></div>
      </div>
  </div>
{{ end }}

{{ define "resubmitCard" }}
  <div
      id="resubmit-pull-card"
      class="rounded relative border bg-amber-50 border-amber-200 p-4">

      <div class="flex items-center gap-2 text-amber-500">
        <i data-lucide="edit" class="w-4 h-4"></i>
        <span class="font-medium">Resubmit your patch</span>
      </div>

      <div class="mt-2 text-sm text-gray-700">
        You can update this patch to address reviews if any. 
        This begins a new round of reviews,
        you can still view your previous submissions and reviews.
      </div>

      <div class="mt-4 flex items-center gap-2">
        <form hx-post="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/resubmit" class="w-full">
          <textarea
            name="patch"
            class="w-full p-2 rounded border border-gray-200"
            placeholder="Enter new patch"
            ></textarea>
          <button
              type="submit"
              class="btn flex items-center gap-2"
              {{ if or .Pull.State.IsClosed }}
              disabled
              {{ end }}>
            <i data-lucide="refresh-ccw" class="w-4 h-4"></i>
            <span>resubmit</span>
          </button>
        </form>

        <div id="resubmit-error" class="error"></div>
        <div id="resubmit-success" class="success"></div>
      </div>
  </div>
{{ end }}
