{{ define "title" }}
    {{ .Pull.Title }} &middot; pull #{{ .Pull.PullId }} &middot; {{ .RepoInfo.FullName }}
{{ end }}

{{ define "repoContent" }}
    <header class="pb-4">
        <h1 class="text-2xl">
            {{ .Pull.Title }}
            <span class="text-gray-500">#{{ .Pull.PullId }}</span>
        </h1>
    </header>

    {{ $bgColor := "bg-gray-800" }}
    {{ $icon := "ban" }}

    {{ if .Pull.State.IsOpen }}
        {{ $bgColor = "bg-green-600" }}
        {{ $icon = "git-pull-request" }}
    {{ else if .Pull.State.IsMerged }}
        {{ $bgColor = "bg-purple-600" }}
        {{ $icon = "git-merge" }}
    {{ end }}

    <section>
        <div class="flex items-center gap-2">
            <div
                id="state"
                class="inline-flex items-center rounded px-3 py-1 {{ $bgColor }}"
            >
                {{ i $icon "w-4 h-4 mr-1.5 text-white" }}
                <span class="text-white">{{ .Pull.State.String }}</span>
            </div>
            <span class="text-gray-500 text-sm">
                opened by
                {{ $owner := index $.DidHandleMap .Pull.OwnerDid }}
                <a href="/{{ $owner }}" class="no-underline hover:underline"
                    >{{ $owner }}</a
                >
                <span class="select-none before:content-['\00B7']"></span>
                <time>{{ .Pull.Created | timeFmt }}</time>
                <span class="select-none before:content-['\00B7']"></span>
                <span>targeting branch 
                  <span class="text-xs rounded bg-gray-100 text-black font-mono px-2 mx-1/2 inline-flex items-center">
                    {{ .Pull.TargetBranch }}
                  </span>
                </span>
            </span>
        </div>

        {{ if .Pull.Body }}
            <article id="body" class="mt-2 prose">
                {{ .Pull.Body | markdown }}
            </article>
        {{ end }}
    </section>

{{ end }}

{{ define "repoAfter" }}
    <section id="submissions" class="mt-4">
      <div class="flex flex-col gap-4">
        {{ block "submissions" . }} {{ end }}
      </div>
    </section>

    <div id="pull-close"></div>
    <div id="pull-reopen"></div>
{{ end }}

{{ define "submissions" }}
  {{ $lastIdx := sub (len .Pull.Submissions) 1 }}
  {{ $targetBranch := .Pull.TargetBranch }}
  {{ $repoName := .RepoInfo.FullName }}
  {{ range $idx, $item := .Pull.Submissions }}
    {{ $diff := $item.AsNiceDiff $targetBranch }}
    {{ with $item }}
    {{ $oneIndexedRound := add .RoundNumber 1 }}
    <details {{ if eq $idx $lastIdx }}open{{ end }}>
        <summary id="round-#{{ $oneIndexedRound }}" class="list-none cursor-pointer">
          <div class="flex flex-wrap gap-2 items-center">
            <!-- round number -->
            <div class="rounded bg-white drop-shadow-sm px-3 py-2">
              #{{ $oneIndexedRound }}
            </div>
            <!-- round summary -->
            <div class="rounded drop-shadow-sm bg-white p-2 text-gray-500">
              <span>
                {{ $owner := index $.DidHandleMap $.Pull.OwnerDid }}
                {{ $re := "re" }}
                {{ if eq .RoundNumber 0 }}
                  {{ $re = "" }}
                {{ end }}
                <span class="hidden md:inline">{{$re}}submitted</span>
                by <a href="/{{ $owner }}">{{ $owner }}</a>
                <span class="select-none before:content-['\00B7']"></span>
                <a class="text-gray-500 hover:text-gray-500" href="#round-#{{ $oneIndexedRound }}"><time>{{ .Created | shortTimeFmt }}</time></a>
                <span class="select-none before:content-['·']"></span>
                {{ $s := "s" }}
                {{ if eq (len .Comments) 1 }}
                  {{ $s = "" }}
                {{ end }}
                {{ len .Comments }} comment{{$s}}
              </span>
            </div>
            <!-- view patch -->
            <a class="btn flex items-center gap-2 no-underline hover:no-underline p-2"
               hx-boost="true"
               href="/{{ $.RepoInfo.FullName }}/pulls/{{ $.Pull.PullId }}/round/{{.RoundNumber}}">
              {{ i "file-diff" "w-4 h-4" }} <span class="hidden md:inline">view patch</span>
            </a>
          </div>
        </summary>
        <div class="md:pl-12 flex flex-col gap-2 mt-2 relative">
          {{ range .Comments }}
            <div id="comment-{{.ID}}" class="bg-white rounded drop-shadow-sm py-2 px-4 relative w-fit">
              <div class="absolute left-8 -top-2 w-px h-2 bg-gray-300"></div>
              <div class="text-sm text-gray-500">
                {{ $owner := index $.DidHandleMap .OwnerDid }} 
                <a href="/{{$owner}}">{{$owner}}</a>
                <span class="before:content-['·']"></span>
                <a class="text-gray-500 hover:text-gray-500" href="#comment-{{.ID}}"><time>{{ .Created | shortTimeFmt }}</time></a>
              </div>
              <div class="prose">
                {{ .Body | markdown }}
              </div>
            </div>
          {{ end }}

          {{ if eq $lastIdx .RoundNumber }}
            {{ block "mergeStatus" $ }} {{ end }}
          {{ end }}

          {{ if $.LoggedInUser }}
            {{ template "fragments/pullActions" (dict "LoggedInUser" $.LoggedInUser "Pull" $.Pull "RepoInfo" $.RepoInfo "RoundNumber" .RoundNumber "MergeCheck" $.MergeCheck) }}
          {{ else }}
            <div class="bg-white rounded drop-shadow-sm px-6 py-4 w-fit">
              <div class="absolute left-8 -top-2 w-px h-2 bg-gray-300"></div>
              <a href="/login" class="underline">login</a> to join the discussion
            </div>
          {{ end }}
        </div>
    </details>
    <hr class="md:hidden"/>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "mergeStatus" }}
  {{ if .Pull.State.IsClosed }}
  <div class="bg-gray-50 border border-black rounded drop-shadow-sm px-6 py-2 relative w-fit">
    <div class="absolute left-8 -top-2 w-px h-2 bg-gray-300"></div>
    <div class="flex items-center gap-2 text-black">
      {{ i "ban" "w-4 h-4" }}
      <span class="font-medium">closed without merging</span
      >
    </div>
  </div>
  {{ else if .Pull.State.IsMerged }}
  <div class="bg-purple-50 border border-purple-500 rounded drop-shadow-sm px-6 py-2 relative w-fit">
    <div class="absolute left-8 -top-2 w-px h-2 bg-gray-300"></div>
    <div class="flex items-center gap-2 text-purple-500">
      {{ i "git-merge" "w-4 h-4" }}
      <span class="font-medium">pull request successfully merged</span
      >
    </div>
  </div>
  {{ else if and .MergeCheck .MergeCheck.Error }}
    <div class="bg-red-50 border border-red-500 rounded drop-shadow-sm px-6 py-2 relative w-fit">
      <div class="absolute left-8 -top-2 w-px h-2 bg-gray-300"></div>
      <div class="flex items-center gap-2 text-red-500">
        {{ i "triangle-alert" "w-4 h-4" }}
        <span class="font-medium">{{ .MergeCheck.Error }}</span>
      </div>
    </div>
  {{ else if and .MergeCheck .MergeCheck.IsConflicted }}
    <div class="bg-red-50 border border-red-500 rounded drop-shadow-sm px-6 py-2 relative w-fit">
      <div class="absolute left-8 -top-2 w-px h-2 bg-gray-300"></div>
      <div class="flex items-center gap-2 text-red-500">
        {{ i "triangle-alert" "w-4 h-4" }}
        <span class="font-medium">merge conflicts detected</span>
        <ul class="text-sm space-y-1">
          {{ range .MergeCheck.Conflicts }}
            {{ if .Filename }}
            <li class="flex items-center">
              {{ i "file-warning" "w-3 h-3 mr-1.5 text-red-500" }}
              <span class="font-mono">{{ slice .Filename 0 (sub (len .Filename) 2) }}</span>
            </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  {{ else if .MergeCheck }}
  <div class="bg-green-50 border border-green-500 rounded drop-shadow-sm px-6 py-2 relative w-fit">
    <div class="absolute left-8 -top-2 w-px h-2 bg-gray-300"></div>
    <div class="flex items-center gap-2 text-green-500">
      {{ i "circle-check-big" "w-4 h-4" }}
      <span class="font-medium">no conflicts, ready to merge</span>
    </div>
  </div>
  {{ end }}
{{ end }}
