{{ define "title" }}pulls &middot; {{ .RepoInfo.FullName }}{{ end }}

{{ define "extrameta" }}
    {{ $title := "pulls"}}
    {{ $url := printf "https://tangled.sh/%s/pulls" .RepoInfo.FullName }}
    
    {{ template "repo/fragments/og" (dict "RepoInfo" .RepoInfo "Title" $title "Url" $url) }}
{{ end }}

{{ define "repoContent" }}
    <div class="flex justify-between items-center">
        <div class="flex gap-4">
            <a
                href="?state=open"
                class="flex items-center gap-2 {{ if .FilteringBy.IsOpen }}font-bold {{ else }}text-gray-500 dark:text-gray-400{{ end }}"
            >
                {{ i "git-pull-request" "w-4 h-4" }}
                <span>{{ .RepoInfo.Stats.PullCount.Open }} open</span>
            </a>
            <a
                href="?state=merged"
                class="flex items-center gap-2 {{ if .FilteringBy.IsMerged }}font-bold {{ else }}text-gray-500 dark:text-gray-400{{ end }}"
            >
                {{ i "git-merge" "w-4 h-4" }}
                <span>{{ .RepoInfo.Stats.PullCount.Merged }} merged</span>
            </a>
            <a
                href="?state=closed"
                class="flex items-center gap-2 {{ if .FilteringBy.IsClosed }}font-bold {{ else }}text-gray-500 dark:text-gray-400{{ end }}"
            >
                {{ i "ban" "w-4 h-4" }}
                <span>{{ .RepoInfo.Stats.PullCount.Closed }} closed</span>
            </a>
        </div>
        <a
            href="/{{ .RepoInfo.FullName }}/pulls/new"
            class="btn text-sm flex items-center gap-2 no-underline hover:no-underline"
        >
            {{ i "git-pull-request-create" "w-4 h-4" }}
            <span>new</span>
        </a>
    </div>
    <div class="error" id="pulls"></div>
{{ end }}

{{ define "repoAfter" }}
    <div class="flex flex-col gap-2 mt-2">
        {{ range .Pulls }}
            <div class="rounded drop-shadow-sm bg-white dark:bg-gray-800 px-6 py-4">
                <div class="pb-2">
                    <a href="/{{ $.RepoInfo.FullName }}/pulls/{{ .PullId }}" class="dark:text-white">
                        {{ .Title }}
                        <span class="text-gray-500 dark:text-gray-400">#{{ .PullId }}</span>
                    </a>
                </div>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                    {{ $owner := index $.DidHandleMap .OwnerDid }}
                    {{ $bgColor := "bg-gray-800 dark:bg-gray-700" }}
                    {{ $icon := "ban" }}

                    {{ if .State.IsOpen }}
                        {{ $bgColor = "bg-green-600 dark:bg-green-700" }}
                        {{ $icon = "git-pull-request" }}
                    {{ else if .State.IsMerged }}
                        {{ $bgColor = "bg-purple-600 dark:bg-purple-700" }}
                        {{ $icon = "git-merge" }}
                    {{ end }}


                    <span
                        class="inline-flex items-center rounded px-2 py-[5px] {{ $bgColor }} text-sm"
                    >
                        {{ i $icon "w-3 h-3 mr-1.5 text-white" }}
                        <span class="text-white">{{ .State.String }}</span>
                    </span>

                    <span>
                        <a href="/{{ $owner }}" class="dark:text-gray-300">{{ $owner }}</a>
                    </span>

                    <span class="before:content-['·']">
                        <time>
                            {{ .Created | timeFmt }}
                        </time>
                    </span>

                    <span class="before:content-['·']">
                        targeting
                        <span class="text-xs rounded bg-gray-100 dark:bg-gray-700 text-black dark:text-white font-mono px-2 mx-1/2 inline-flex items-center">
                          {{ .TargetBranch }}
                        </span>
                    </span>
                    {{ if not .IsPatchBased }}
                    from
                    <span class="text-xs rounded bg-gray-100 dark:bg-gray-700 text-black dark:text-white font-mono px-2 mx-1/2 inline-flex items-center">
                        {{ if .IsForkBased }}
                          {{ if .PullSource.Repo }}
                          <a href="/{{ $owner }}/{{ .PullSource.Repo.Name }}" class="no-underline hover:underline">{{ $owner }}/{{ .PullSource.Repo.Name }}</a>:
                          {{- else -}}
                          <span class="italic">[deleted fork]</span>
                          {{- end -}}
                        {{- end -}}
                        {{- .PullSource.Branch -}}
                    </span>
                    {{ end }}
                    <span class="before:content-['·']">
                        {{ $latestRound := .LastRoundNumber }}
                        {{ $lastSubmission := index .Submissions $latestRound }}
                        round
                        <span class="text-xs rounded bg-gray-100 dark:bg-gray-700 text-black dark:text-white font-mono px-2 mx-1/2 inline-flex items-center">
                          #{{ .LastRoundNumber }}
                        </span>
                        {{ $commentCount := len $lastSubmission.Comments }}
                        {{ $s := "s" }}
                        {{ if eq $commentCount 1 }}
                          {{ $s = "" }}
                        {{ end }}

                        {{ if eq $commentCount 0 }}
                          awaiting comments
                        {{ else }}
                          recieved {{ len $lastSubmission.Comments}} comment{{$s}}
                        {{ end }}
                    </span>
                </p>
            </div>
        {{ end }}
    </div>
{{ end }}
