{{ define "title" }}spindles{{ end }}

{{ define "content" }}
<div class="px-6 py-4">
  <h1 class="text-xl font-bold dark:text-white">Spindles</h1>
</div>

<section class="bg-white dark:bg-gray-800 p-6 rounded relative w-full mx-auto drop-shadow-sm dark:text-white">
  <div class="flex flex-col gap-6">
    {{ block "all" . }} {{ end }}
    {{ block "register" . }} {{ end }}
  </div>
</section>
{{ end }}

{{ define "all" }}
  <section class="rounded bg-white dark:bg-gray-800 drop-shadow-sm w-full flex flex-col gap-2">
    <h2 class="text-sm font-bold py-2 uppercase dark:text-gray-300">your spindles</h2>
    <div class="flex flex-col rounded border border-gray-200 dark:border-gray-700 w-full">
      {{ range $spindle := .Spindles }}
        {{ template "spindles/fragments/spindleListing" . }}
      {{ else }}
        <div class="flex items-center justify-center p-2 border-b border-gray-200 dark:border-gray-700 text-gray-500">
          no spindles registered yet
        </div>
      {{ end }}
    </div>
    <div id="operation-error" class="dark:text-red-400"></div>
  </section>
{{ end }}

{{ define "register" }}
  <section class="rounded bg-white dark:bg-gray-800 drop-shadow-sm w-full lg:w-fit flex flex-col gap-2">
    <h2 class="text-sm font-bold py-2 uppercase dark:text-gray-300">register a spindle</h2>
    <p class="mb-2 dark:text-gray-300">Enter the hostname of your spindle to get started</p>
    <form
      hx-post="/spindles/register"
      class="max-w-2xl mb-2 space-y-4"
      hx-indicator="#register-spinner"
      hx-swap="none"
      >
      <div class="flex gap-2">
        <input
          type="text"
          id="instance"
          name="instance"
          placeholder="spindle.example.com"
          required
          class="flex-1 w-full dark:bg-gray-700 dark:text-white dark:border-gray-600 dark:placeholder-gray-400 px-3 py-2 border rounded"
        >
        <button
          type="submit"
          class="btn rounded flex items-center py-2 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600 group"
          >
          <span class="inline-flex items-center gap-2">
            {{ i "plus" "w-4 h-4" }}
            register
          </span>
          <span id="register-spinner" class="pl-2 hidden group-[.htmx-request]:inline">
            {{ i "loader-circle" "w-4 h-4 animate-spin" }}
          </span>
        </button>
      </div>

      <div id="register-error" class="dark:text-red-400"></div>
    </form>

  </section>
{{ end }}
