{{ define "knots/fragments/bannerRequiresUpgrade" }}
<div class="px-6 py-2">
  The following knots that you administer will have to be upgraded to be compatible with the latest version of Tangled:
  <ul class="list-disc mx-12 my-2">
    {{range $i, $r := .Registrations}}
    <li>{{ $r.Domain }}</li>
    {{ end }}
  </ul>
  Repositories hosted on these knots will not be accessible until upgraded.
  <a href="https://tangled.sh/@tangled.sh/core/blob/master/docs/migrations/knot-1.8.0.md">Click to read the upgrade guide</a>.
</div>
{{ end }}
