{{ define "knots/fragments/knotListingFull" }}
<section
  id="knot-listing-full"
  hx-swap-oob="true"
  class="rounded w-full flex flex-col gap-2">
  <h2 class="text-sm font-bold py-2 uppercase dark:text-gray-300">your knots</h2>
  <div class="flex flex-col rounded border border-gray-200 dark:border-gray-700 w-full">
    {{ range $knot := .Registrations }}
      {{ template "knots/fragments/knotListing" . }}
    {{ else }}
      <div class="flex items-center justify-center p-2 border-b border-gray-200 dark:border-gray-700 text-gray-500">
        no knots registered yet
      </div>
    {{ end }}
  </div>
  <div id="operation-error" class="text-red-500 dark:text-red-400"></div>
</section>
{{ end }}
