{{ define "fragments/diff" }}
{{ $repo := index . 0 }}
{{ $diff := index . 1 }}
{{ $commit := $diff.Commit }}
{{ $stat := $diff.Stat }}
{{ $diff := $diff.Diff }}

  {{ $this := $commit.This }}
  {{ $parent := $commit.Parent }}

  {{ $last := sub (len $diff) 1 }}
  {{ range $idx, $hunk := $diff }}
  {{ with $hunk }}
  <section class="mt-6 border border-gray-200 dark:border-gray-700 w-full mx-auto rounded bg-white dark:bg-gray-800 drop-shadow-sm">
    <div id="file-{{ .Name.New }}">
      <div id="diff-file">
        <details open>
          <summary class="list-none cursor-pointer sticky top-0">
            <div id="diff-file-header" class="rounded cursor-pointer bg-white dark:bg-gray-800 flex justify-between">
              <div id="left-side-items" class="p-2 flex gap-2 items-center overflow-x-auto" style="direction: rtl;">
                {{ $markerstyle := "diff-type p-1 mr-1 font-mono text-sm rounded select-none" }}

                <div class="flex gap-2 items-center" style="direction: ltr;">
                {{ if .IsNew }}
                <span class="bg-green-100 text-green-700 dark:bg-green-800/50 dark:text-green-400 {{ $markerstyle }}">ADDED</span>
                {{ else if .IsDelete }}
                <span class="bg-red-100 text-red-700 dark:bg-red-800/50 dark:text-red-400 {{ $markerstyle }}">DELETED</span>
                {{ else if .IsCopy }}
                <span class="bg-gray-100 text-gray-700 dark:bg-gray-700 dark:text-gray-300 {{ $markerstyle }}">COPIED</span>
                {{ else if .IsRename }}
                <span class="bg-gray-100 text-gray-700 dark:bg-gray-700 dark:text-gray-300 {{ $markerstyle }}">RENAMED</span>
                {{ else }}
                <span class="bg-gray-100 text-gray-700 dark:bg-gray-700 dark:text-gray-300 {{ $markerstyle }}">MODIFIED</span>
                {{ end }}

                {{ if .IsDelete }}
                <a class="dark:text-white whitespace-nowrap overflow-x-auto" {{if $this }}href="/{{ $repo }}/blob/{{ $this }}/{{ .Name.Old }}"{{end}}>
                  {{ .Name.Old }}
                </a>
                {{ else if (or .IsCopy .IsRename) }}
                <a class="dark:text-white whitespace-nowrap overflow-x-auto" {{if $parent}}href="/{{ $repo }}/blob/{{ $parent }}/{{ .Name.Old }}"{{end}}>
                  {{ .Name.Old }}
                </a>
                {{ i "arrow-right" "w-4 h-4" }}
                <a class="dark:text-white whitespace-nowrap overflow-x-auto" {{if $this}}href="/{{ $repo }}/blob/{{ $this }}/{{ .Name.New }}"{{end}}>
                  {{ .Name.New }}
                </a>
                {{ else }}
                <a class="dark:text-white whitespace-nowrap overflow-x-auto" {{if $this}}href="/{{ $repo }}/blob/{{ $this }}/{{ .Name.New }}"{{end}}>
                  {{ .Name.New }}
                </a>
                {{ end }}
                </div>
              </div>

              {{ $iconstyle := "p-1 mx-1 hover:bg-gray-100 dark:hover:bg-gray-700 rounded" }}
              <div id="right-side-items" class="p-2 flex items-center">
                <a title="top of file" href="#file-{{ .Name.New }}" class="{{ $iconstyle }}">{{ i "arrow-up-to-line" "w-4 h-4" }}</a>
                {{ if gt $idx 0 }}
                  {{ $prev := index $diff (sub $idx 1) }}
                  <a title="previous file" href="#file-{{ $prev.Name.New }}" class="{{ $iconstyle }}">{{ i "arrow-up" "w-4 h-4" }}</a>
                {{ end }}

                {{ if lt $idx $last }}
                  {{ $next := index $diff (add $idx 1) }}
                  <a title="next file" href="#file-{{ $next.Name.New }}" class="{{ $iconstyle }}">{{ i "arrow-down" "w-4 h-4" }}</a>
                {{ end }}
              </div>

            </div>
          </summary>

          <div class="transition-all duration-700 ease-in-out">
            {{ if .IsDelete }}
            <p class="text-center text-gray-400 dark:text-gray-500 p-4">
            This file has been deleted in this commit.
            </p>
            {{ else }}
            {{ if .IsBinary }}
            <p class="text-center text-gray-400 dark:text-gray-500 p-4">
            This is a binary file and will not be displayed.
            </p>
            {{ else }}
            <pre class="overflow-x-auto"><div class="overflow-x-auto"><div class="min-w-full inline-block">{{- range .TextFragments -}}<div class="bg-gray-100 dark:bg-gray-700 text-gray-500 dark:text-gray-400 select-none">{{- .Header -}}</div>{{- range .Lines -}}
                       {{- if eq .Op.String "+" -}}
                       <div class="bg-green-100 dark:bg-green-800/30 text-green-700 dark:text-green-400 flex min-w-full">
                         <div class="w-10 flex-shrink-0 select-none p-1 text-center">{{ .Op.String }}</div>
                         <div class="p-1 whitespace-pre">{{ .Line }}</div>
                       </div>
                       {{- end -}}
                       {{- if eq .Op.String "-" -}}
                       <div class="bg-red-100 dark:bg-red-800/30 text-red-700 dark:text-red-400 flex min-w-full">
                         <div class="w-10 flex-shrink-0 select-none p-1 text-center">{{ .Op.String }}</div>
                         <div class="p-1 whitespace-pre">{{ .Line }}</div>
                       </div>
                       {{- end -}}
                       {{- if eq .Op.String " " -}}
                       <div class="bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 flex min-w-full">
                         <div class="w-10 flex-shrink-0 select-none p-1 text-center">{{ .Op.String }}</div>
                         <div class="p-1 whitespace-pre">{{ .Line }}</div>
                       </div>
                       {{- end -}}
                     {{- end -}}
                   {{- end -}}</div></div></pre>
            {{- end -}}
            {{ end }}
          </div>

        </details>

      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}
{{ end }}
