{{ define "fragments/pullActions" }}
  {{ $lastIdx := sub (len .Pull.Submissions) 1 }}
  {{ $roundNumber := .RoundNumber }}

  {{ $isPushAllowed := .RepoInfo.Roles.IsPushAllowed }}
  {{ $isMerged := .Pull.State.IsMerged }}
  {{ $isClosed := .Pull.State.IsClosed }}
  {{ $isOpen := .Pull.State.IsOpen }}
  {{ $isConflicted := and .MergeCheck (or .MergeCheck.Error .MergeCheck.IsConflicted) }}
  {{ $isPullAuthor := and .LoggedInUser (eq .LoggedInUser.Did .Pull.OwnerDid) }}
  {{ $isLastRound := eq $roundNumber $lastIdx }}
  {{ $isSameRepoBranch := .Pull.IsSameRepoBranch }}
  {{ $isUpToDate := .ResubmitCheck.No }}
  <div class="relative w-fit">
    <div id="actions-{{$roundNumber}}" class="flex flex-wrap gap-2">
        <button 
          hx-get="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/round/{{ $roundNumber }}/comment"
          hx-target="#actions-{{$roundNumber}}"
          hx-swap="outerHtml"
          class="btn p-2 flex items-center gap-2 no-underline hover:no-underline">
            {{ i "message-square-plus" "w-4 h-4" }}
            <span>comment</span>
        </button>
        {{ if and $isPushAllowed $isOpen $isLastRound }}
          {{ $disabled := "" }}
          {{ if $isConflicted }}
            {{ $disabled = "disabled" }}
          {{ end }}
          <button 
            hx-post="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/merge"
            hx-swap="none"
            hx-confirm="Are you sure you want to merge pull #{{ .Pull.PullId }} into the `{{ .Pull.TargetBranch }}` branch?"
            class="btn p-2 flex items-center gap-2" {{ $disabled }}>
            {{ i "git-merge" "w-4 h-4" }}
              <span>merge</span>
          </button>
        {{ end }}

        {{ if and $isPullAuthor $isOpen $isLastRound }}
          {{ $disabled := "" }}
          {{ if $isUpToDate }}
            {{ $disabled = "disabled" }}
          {{ end }}
          <button id="resubmitBtn"
              {{ if not .Pull.IsPatch }}
                hx-post="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/resubmit"
              {{ else }}
                hx-get="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/resubmit"
                hx-target="#actions-{{$roundNumber}}"
                hx-swap="outerHtml"
              {{ end }}

              hx-disabled-elt="#resubmitBtn"
              class="btn p-2 flex items-center gap-2 disabled:opacity-50 disabled:cursor-not-allowed" {{ $disabled }}

              {{ if $disabled }}
              title="Update this branch to resubmit this pull request"
              {{ else }}
              title="Resubmit this pull request"
              {{ end }}
              >
            {{ i "rotate-ccw" "w-4 h-4" }}
              <span>resubmit</span>
          </button>
        {{ end }}

        {{ if and (or $isPullAuthor $isPushAllowed) $isOpen $isLastRound }}
        <button 
          hx-post="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/close"
          hx-swap="none"
          class="btn p-2 flex items-center gap-2">
          {{ i "ban" "w-4 h-4" }}
            <span>close</span>
        </button>
        {{ end }}

        {{ if and (or $isPullAuthor $isPushAllowed) $isClosed $isLastRound }}
        <button 
          hx-post="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/reopen"
          hx-swap="none"
          class="btn p-2 flex items-center gap-2">
          {{ i "circle-dot" "w-4 h-4" }}
            <span>reopen</span>
        </button>
        {{ end }}
    </div>
  </div>
{{ end }}


