{{ define "fragments/repoActions" }}
<div class="flex items-center gap-2 z-auto">
  <button id="starBtn"
    class="btn disabled:opacity-50 disabled:cursor-not-allowed"

    {{ if .IsStarred }}
    hx-delete="/star?subject={{.RepoAt}}&countHint={{.Stats.StarCount}}"
    {{ else }}
    hx-post="/star?subject={{.RepoAt}}&countHint={{.Stats.StarCount}}"
    {{ end }}

    hx-trigger="click"
    hx-target="#starBtn"
    hx-swap="outerHTML"
    hx-disabled-elt="#starBtn"
    >
    <div class="flex gap-2 items-center">
      {{ if .IsStarred }}
      {{ i "star" "w-4 h-4 fill-current" }}
      {{ else }}
      {{ i "star" "w-4 h-4" }}
      {{ end }}
      <span>
        {{ .Stats.StarCount }}
      </span>
    </div>
  </button>
  {{ if .DisableFork }}
  <button class="btn no-underline hover:no-underline flex items-center gap-2 disabled:opacity-50 disabled:cursor-not-allowed" disabled title="Empty repositories cannot be forked">
      {{ i "git-fork" "w-4 h-4"}}
      fork
  </button>
  {{ else }}
  <a class="btn no-underline hover:no-underline flex items-center gap-2" href="/{{ .FullName }}/fork">
      {{ i "git-fork" "w-4 h-4"}}
      fork
  </a>
  {{ end }}
</div>
{{ end }}

