{{ define "fragments/repoActions" }}
<div class="flex items-center gap-2">
  <button id="starBtn"
    class="btn disabled:opacity-50 disabled:cursor-not-allowed"

    {{ if .IsStarred }}
    hx-delete="/star?subject={{.RepoAt}}&countHint={{.Stats.StarCount}}"
    {{ else }}
    hx-post="/star?subject={{.RepoAt}}&countHint={{.Stats.StarCount}}"
    {{ end }}

    hx-trigger="click"
    hx-target="#starBtn"
    hx-swap="outerHTML"
    hx-disabled-elt="#starBtn"
    >
    <div class="flex gap-2 items-center">
      {{ if .IsStarred }}
      {{ i "star" "w-3 h-3 fill-current" }}
      {{ else }}
      {{ i "star" "w-3 h-3" }}
      {{ end }}
      <span>
        {{ .Stats.StarCount }}
      </span>
    </div>
  </button>
  <a class="btn no-underline hover:no-underline flex items-center" href="/{{ .FullName }}/fork">
      {{ i "git-fork" "w-3 h-3"}}
      fork
  </a>
</div>
{{ end }}

