{{ define "fragments/star" }}
  <button id="starBtn"
    class="text-sm disabled:opacity-50 disabled:cursor-not-allowed"

    {{ if .IsStarred }}
    hx-delete="/star?subject={{.RepoAt}}&countHint={{.Stats.StarCount}}"
    {{ else }}
    hx-post="/star?subject={{.RepoAt}}&countHint={{.Stats.StarCount}}"
    {{ end }}

    hx-trigger="click"
    hx-target="#starBtn"
    hx-swap="outerHTML"
    hx-disabled-elt="#starBtn"
    >
    <div class="flex gap-2 items-center">
      {{ if .IsStarred }}
      {{ i "star" "w-3 h-3 fill-current" }}
      {{ else }}
      {{ i "star" "w-3 h-3" }}
      {{ end }}
      <span>
        {{ .Stats.StarCount }}
      </span>
    </div>
  </button>
{{ end }}

