{{ define "title" }}timeline{{ end }}

{{ define "extrameta" }}
    <meta property="og:title" content="timeline · tangled" />
    <meta property="og:type" content="object" />
    <meta property="og:url" content="https://tangled.org" />
    <meta property="og:description" content="tightly-knit social coding" />
{{ end }}

{{ define "content" }}
     {{ if .LoggedInUser }}
     {{ else }}
       {{ template "timeline/fragments/hero" . }}
     {{ end }}

    {{ template "timeline/fragments/trending" . }}
    {{ template "timeline/fragments/timeline" . }}
{{ end }}
