{{ define "repo/fragments/diffChangedFiles" }}
  {{ $stat := .Stat }}
  {{ $fileTree := fileTree .ChangedFiles }}
  <section
    class="overflow-x-auto text-sm px-6 py-2 border border-gray-200 dark:border-gray-700 w-full mx-auto min-h-full rounded bg-white dark:bg-gray-800 drop-shadow-sm">
    <div class="diff-stat">
      <div class="flex gap-2 items-center">
        <strong class="text-sm uppercase dark:text-gray-200">
          Changed files
        </strong>
        {{ template "repo/fragments/diffStatPill" $stat }}
      </div>
      {{ template "repo/fragments/fileTree" $fileTree }}
    </div>
  </section>
{{ end }}
