{{ define "repo/fragments/diff" }}
  {{ $repo := index . 0 }}
  {{ $diff := index . 1 }}
  {{ $opts := index . 2 }}

  {{ $commit := $diff.Commit }}
  {{ $diff := $diff.Diff }}
  {{ $isSplit := $opts.Split }}
  {{ $this := $commit.This }}
  {{ $parent := $commit.Parent }}
  {{ $last := sub (len $diff) 1 }}

  <div class="flex flex-col gap-4">
    {{ if eq (len $diff) 0 }}
      <div class="text-center text-gray-500 dark:text-gray-400 py-8">
        <p>No differences found between the selected revisions.</p>
      </div>
    {{ else }}
    {{ range $idx, $hunk := $diff }}
      {{ with $hunk }}
        <details open id="file-{{ .Name.New }}" class="group border border-gray-200 dark:border-gray-700 w-full mx-auto rounded bg-white dark:bg-gray-800 drop-shadow-sm" tabindex="{{ add $idx 1 }}">
          <summary class="list-none cursor-pointer sticky top-0">
            <div id="diff-file-header" class="rounded cursor-pointer bg-white dark:bg-gray-800 flex justify-between">
              <div id="left-side-items" class="p-2 flex gap-2 items-center overflow-x-auto">
                <span class="group-open:hidden inline">{{ i "chevron-right" "w-4 h-4" }}</span>
                <span class="hidden group-open:inline">{{ i "chevron-down" "w-4 h-4" }}</span>
                {{ template "repo/fragments/diffStatPill" .Stats }}

                <div class="flex gap-2 items-center overflow-x-auto">
                  {{ if .IsDelete }}
                    {{ .Name.Old }}
                  {{ else if (or .IsCopy .IsRename) }}
                    {{ .Name.Old }} {{ i "arrow-right" "w-4 h-4" }} {{ .Name.New }}
                  {{ else }}
                    {{ .Name.New }}
                  {{ end }}
                </div>
              </div>
            </div>
          </summary>

          <div class="transition-all duration-700 ease-in-out">
            {{ if .IsBinary }}
              <p class="text-center text-gray-400 dark:text-gray-500 p-4">
              This is a binary file and will not be displayed.
              </p>
            {{ else }}
              {{ if $isSplit }}
                {{- template "repo/fragments/splitDiff" .Split -}}
              {{ else }}
                {{- template "repo/fragments/unifiedDiff" . -}}
              {{ end }}
            {{- end -}}
          </div>
        </details>
      {{ end }}
    {{ end }}
    {{ end }}
  </div>
{{ end }}
