{{ define "repo/fragments/editRepoDescription" }}
<form hx-put="/{{ .RepoInfo.FullName }}/description" hx-target="this" hx-swap="outerHTML" class="flex flex-wrap gap-2">
    <input type="text" class="p-1" name="description" value="{{ .RepoInfo.Description }}">
    <button type="submit" class="btn p-1 flex items-center gap-2 no-underline text-sm">
      {{ i "check" "w-3 h-3" }} save 
    </button>
    <button type="button" class="btn p-1 flex items-center gap-2 no-underline text-sm" hx-get="/{{ .RepoInfo.FullName }}/description" >
      {{ i "x" "w-3 h-3" }} cancel 
    </button>
</form>
{{ end }}
