{{ define "repo/fragments/repoDescription" }}
<span id="repo-description" class="flex flex-wrap items-center gap-2 text-sm" hx-target="this" hx-swap="outerHTML">
    {{ if .RepoInfo.Description }}
        {{ .RepoInfo.Description }}
    {{ else }}
        <span class="italic">this repo has no description</span>
    {{ end }}

    {{ if .RepoInfo.Roles.IsOwner }}
    <button class="flex items-center gap-2 no-underline text-sm" hx-get="/{{ .RepoInfo.FullName }}/description/edit">
      {{ i "pencil" "w-3 h-3" }}
    </button>
    {{ end }}
</span>
{{ end }}
