{{ define "repo/fragments/repoActions" }}
    <div class="flex items-center gap-2 z-auto">
        <button
            id="starBtn"
            class="btn disabled:opacity-50 disabled:cursor-not-allowed flex gap-2 items-center group"
            {{ if .IsStarred }}
                hx-delete="/star?subject={{ .RepoAt }}&countHint={{ .Stats.StarCount }}"
            {{ else }}
                hx-post="/star?subject={{ .RepoAt }}&countHint={{ .Stats.StarCount }}"
            {{ end }}

            hx-trigger="click"
            hx-target="#starBtn"
            hx-swap="outerHTML"
            hx-disabled-elt="#starBtn"
        >
          {{ if .IsStarred }}
              {{ i "star" "w-4 h-4 fill-current" }}
          {{ else }}
              {{ i "star" "w-4 h-4" }}
          {{ end }}
          <span class="text-sm">
              {{ .Stats.StarCount }}
          </span>
          {{ i "loader-circle" "w-4 h-4 animate-spin hidden group-[.htmx-request]:inline" }}
        </button>
        {{ if .DisableFork }}
            <button
                class="btn text-sm no-underline hover:no-underline flex items-center gap-2 disabled:opacity-50 disabled:cursor-not-allowed"
                disabled
                title="Empty repositories cannot be forked"
            >
                {{ i "git-fork" "w-4 h-4" }}
                fork
            </button>
        {{ else }}
            <a
                class="btn text-sm no-underline hover:no-underline flex items-center gap-2 group"
                hx-boost="true"
                href="/{{ .FullName }}/fork"
            >
                {{ i "git-fork" "w-4 h-4" }}
                fork
                {{ i "loader-circle" "w-4 h-4 animate-spin hidden group-[.htmx-request]:inline" }}
            </a>
        {{ end }}
    </div>
{{ end }}
