{{ define "title" }}{{ or .Card.UserHandle .Card.UserDid }} · followers {{ end }}

{{ define "profileContent" }}
  <div id="all-followers" class="md:col-span-8 order-2 md:order-2">
    {{ block "followers" . }}{{ end }}
  </div>
{{ end }}

{{ define "followers" }}
  <p class="text-sm font-bold p-2 dark:text-white">ALL FOLLOWERS</p>
  <div id="followers" class="grid grid-cols-1 gap-4 mb-6">
    {{ range .Followers }}
       {{ template "user/fragments/followCard" . }}
    {{ else }}
        <p class="px-6 dark:text-white">This user does not have any followers yet.</p>
    {{ end }}
  </div>
{{ end }}
