{{ define "user/oauthlogin" }}
    <!doctype html>
    <html lang="en" class="dark:bg-gray-900">
        <head>
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <script src="/static/htmx.min.js"></script>
            <link
                rel="stylesheet"
                href="/static/tw.css?{{ cssContentHash }}"
                type="text/css"
            />
            <title>login</title>
        </head>
        <body class="flex items-center justify-center min-h-screen">
            <main class="max-w-7xl px-6 -mt-4">
                <h1
                    class="text-center text-2xl font-semibold italic dark:text-white"
                >
                    tangled
                </h1>
                <h2 class="text-center text-xl italic dark:text-white">
                    tightly-knit social coding.
                </h2>
                <form
                    class="w-full mt-4"
                    hx-post="/oauth/login"
                    hx-swap="none"
                    hx-disabled-elt="this"
                >
                    <div class="flex flex-col">
                        <label for="handle">handle</label>
                        <input
                            type="text"
                            id="handle"
                            name="handle"
                            tabindex="1"
                            required
                        />
                        <span class="text-xs text-gray-500 mt-1">
                            Use your
                            <a href="https://bsky.app">Bluesky</a> handle to log
                            in. You will then be redirected to your PDS to
                            complete authentication.
                        </span>
                    </div>

                    <button
                        class="btn w-full my-2 mt-6"
                        type="submit"
                        id="login-button"
                        tabindex="3"
                    >
                        <span>login</span>
                    </button>
                </form>
                <p class="text-sm text-gray-500">
                    Join our <a href="https://chat.tangled.sh">Discord</a> or
                    IRC channel:
                    <a href="https://web.libera.chat/#tangled"
                        ><code>#tangled</code> on Libera Chat</a
                    >.
                </p>
                <p id="login-msg" class="error w-full"></p>
            </main>
        </body>
    </html>
{{ end }}
