{{ define "title" }}{{ or .Card.UserHandle .Card.UserDid }} · repos {{ end }}

{{ define "extrameta" }}
    <meta property="og:title" content="{{ or .Card.UserHandle .Card.UserDid }}'s repos" />
    <meta property="og:type" content="object" />
    <meta property="og:url" content="https://tangled.sh/{{ or .Card.UserHandle .Card.UserDid }}/repos" />
    <meta property="og:description" content="{{ or .Card.Profile.Description .Card.UserHandle .Card.UserDid }}" />
{{ end }}

{{ define "content" }}
<div class="grid grid-cols-1 md:grid-cols-8 gap-6">
    <div class="md:col-span-2 order-1 md:order-1">
        {{ template "user/fragments/profileCard" .Card }}
    </div>
    <div id="all-repos" class="md:col-span-6 order-2 md:order-2">
        {{ block "ownRepos" . }}{{ end }}
    </div>
</div>
{{ end }}

{{ define "ownRepos" }}
  <p class="text-sm font-bold p-2 dark:text-white">ALL REPOSITORIES</p>
  <div id="repos" class="grid grid-cols-1 gap-4 mb-6">
    {{ range .Repos }}
      <div
          id="repo-card"
          class="py-4 px-6 drop-shadow-sm rounded bg-white dark:bg-gray-800">
          <div id="repo-card-name" class="font-medium">
              <a href="/@{{ or $.Card.UserHandle $.Card.UserDid }}/{{ .Name }}"
                  >{{ .Name }}</a
              >
          </div>
          {{ if .Description }}
              <div class="text-gray-600 dark:text-gray-300 text-sm">
                  {{ .Description }}
              </div>
          {{ end }}
          <div class="text-gray-400 pt-1 text-sm font-mono inline-flex gap-4 mt-auto">
            {{ if .RepoStats.StarCount }}
                <div class="flex gap-1 items-center text-sm">
                    {{ i "star" "w-3 h-3 fill-current" }}
                    <span>{{ .RepoStats.StarCount }}</span>
                </div>
            {{ end }}
          </div>
      </div>
    {{ else }}
        <p class="px-6 dark:text-white">This user does not have any repos yet.</p>
    {{ end }}
  </div>
{{ end }}
